<ng-container *ngIf="detailProject$ | async as detailProject; else listTemplate">
  <app-project-detail
    [project]="detailProject"
    [isInterest$]="isPreviewInterest$"
    (action)="onPreviewAction($event)"
    (goBack)=onBackToList()>
  </app-project-detail>
</ng-container>
<ng-template #listTemplate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-2">
        <!-- ACTION BAR -->
        <app-project-action-bar [actions]="actionBar" (selectAll)="onSelectAll($event)" (action)="onAction($event)"
          [canApply$]="canMultiselectedApply$" (filters)="onActionBarFilter($event)" [statusFilter]="statusFilter"
          [divisionFilter]="userProfile.divisions" [serviceFilter]="userProfile.services">
        </app-project-action-bar>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-6 px-2">
        <div class="row mb-2 px-5">
          <div class="col text-center" *ngFor="let status of statusFilter" [ngClass]="{'status-selected':currentStatusFilter === status}"
              id="status-col" (click)="onStatusChange(status)">
            <p class="status-text" [ngClass]="{'status-selectext':currentStatusFilter === status}">{{status}}</p>
          </div>
        </div>
        <!-- PROJECT CARD -->
        <div class="col-12 scroll-host">
          <ng-container *ngIf="projectList$ | async as projects">
            <app-project-card-list [projects]="projects" [masterSelected$]="masterSelected$" [reset$]="selectedCard$"
              (checkedProjects)="onSelectProjects($event)" (cardClicked)="onCardClicked($event)" [cardMode]="'WIDE'">
            </app-project-card-list>
        </ng-container>
        </div>
      </div>
      <div class="col-6 px-2">
        <!-- PROJECT PREVIEW -->
        <app-project-preview [userProfileId]="userProfile!.id" [role]="'SERVICE_PROVIDER'" [isInterest$]="isPreviewInterest$"
          [previewProject$]="previewProject$" (action)="onPreviewAction($event)" (detail)="onDetail($event)">
        </app-project-preview>
      </div>
    </div>
  </div>
</ng-template>


