
  <div class="container bg-faded py-4">
    <div class="row">
      <div class="col-12">
        <!-- ACTION BAR -->
        <app-project-action-bar></app-project-action-bar>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-6 px-2">
        <!-- PROJECT CARD -->
        <ng-container *ngIf="candidateProjects | async as candidates">
          <app-project-card-list [projects]="candidates"></app-project-card-list>
        </ng-container>
      </div>
      <div class="col-6 px-2">
        <!-- PROJECT PREVIEW -->
          <app-project-preview></app-project-preview>

      </div>
    </div>
  </div>

