/*Container columnBar*/
.scroll-host {
    height: 29.3rem;
    overflow:auto;
    padding-right: 1rem;
  }

  /* Chrome columnBarStyle */
  .scroll-host::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  .scroll-host::-webkit-scrollbar-track{
    background-color:#BEBCBE;
    border-radius: 0;
  }
  .scroll-host::-webkit-scrollbar-thumb{
    background-color: #2888C7;
    border-radius: 0;
  }

  .status-text{
    font-weight: bold;
    color: #bcbebc;
}

#status-col{
    border-bottom: solid 1px #bcbebc;
    cursor: pointer;
}

#status-col:checked{
    border-bottom: solid 2px #2888C7;
}

.status-selected{
  border-bottom: solid 2px #2888C7 !important;
}

.status-selectext{
   color: #2888C7 !important;
}

/*Overview 768px*/
@media only screen and (max-width: 767.99px) {
  #projectPreview-col{
    display: none;
  }
  #actionBar-container{
    padding-left: .25rem !important;
    padding-right: .25rem !important;
  }
  #projectCard-list-row{
    padding-top: 0.25rem !important;
  }
  #projectCard-list-col{
    padding-left: .25rem !important;
    padding-right: .25rem !important;
  }
  #status-list-col{
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }
  .scroll-host{
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
}