<ng-container *ngIf="detailProject$ | async as detailProject; else listTemplate">
  <app-project-detail
    [project]="detailProject"
    [canApply$]="canPreviewApply$"
    (goBack)=onBackToList()>
  </app-project-detail>
</ng-container>
<ng-template #listTemplate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-2">
        <!-- ACTION BAR -->
        <app-project-action-bar [actions]="actionBar" (selectAll)="onSelectAll($event)" (action)="onAction($event)"
          [canApply$]="canMultiselectedApply$" (filters)="onActionBarFilter($event)" [statusFilter]="statusFilter"
          [divisionFilter]="userProfile.divisions" [serviceFilter]="userProfile.services">
        </app-project-action-bar>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-6 px-2">
        <div class="row mb-2 px-5">
          <div class="col text-center" [ngClass]="{'status-selected':statusValue==='ALL'}"
              id="status-col" (click)="setStatusValue('ALL')">
            <p class="status-text" [ngClass]="{'status-selectext':statusValue==='ALL'}">ALL</p>
          </div>
          <div class="col text-center" [ngClass]="{'status-selected':statusValue==='NEW'}"
              id="status-col" (click)="setStatusValue('NEW')">
            <p class="status-text" [ngClass]="{'status-selectext':statusValue==='NEW'}">NEW</p>
          </div>
          <div class="col text-center" [ngClass]="{'status-selected':statusValue==='APPLYED'}"
              id="status-col" (click)="setStatusValue('APPLYED')">
            <p class="status-text" [ngClass]="{'status-selectext':statusValue==='APPLYED'}">APPLYED</p>
          </div>
        </div>
        <!-- PROJECT CARD -->
        <ng-container *ngIf="projectList$ | async as projects">
          <app-project-card-list [projects]="projects" [masterSelected$]="masterSelected$"
            (checkedProjects)="onSelectProjects($event)" (cardClicked)="onCardClicked($event)" [cardMode]="'WIDE'">

          </app-project-card-list>
        </ng-container>
      </div>
      <div class="col-6 px-2">
        <!-- PROJECT PREVIEW -->
        <app-project-preview [userProfileId]="userProfile!.id" [role]="'SERVICE_PROVIDER'" [canApply$]="canPreviewApply$"
          [previewProject$]="previewProject$" (action)="onPreviewAction($event)" (detail)="onDetail($event)">
        </app-project-preview>
      </div>
    </div>
  </div>
</ng-template>


