<ng-container *ngIf="previewProject$ | async as previewProject">

  <div class="card col-12 rounded-0">
    <div class="row vertical-align py-1 preview-toolbar" style="z-index: 0;">
      <div class="col-9">
        <ng-container *ngIf="(previewProject.state === 'NEW' && role === 'SERVICE_PROVIDER'); else playTemplate">
          <button class="btn col-3 btn-space text-uppercase px-0 py-1" [disabled]="!canApply" id="applytBtn" type="button"
            style=" background-color: #2888C7; color: white; border-radius: 0; width:6.25rem;" (click)="onApply()">
            <i class="fab icon-aplicar"></i>
            Apply
          </button>
          <button class="btn col-3 btn-space text-uppercase px-0 py-1" id="startBtn" type="button" [disabled]="!canStart"
            style=" background-color: #a1d173; color: white; border-radius: 0; width:6.25rem;" (click)="onStartProjectExecution()">
            <i class="fab icon-comenzar"></i>
            Start
          </button>
        </ng-container>
        <ng-template #playTemplate>
          <button class="btn col-3 btn-space text-uppercase px-0 py-1" type="button"
            *ngIf="(previewProject.state === 'PROGRESS' || previewProject.state === 'NEW') && role === 'SERVICE_PROVIDER'"
            style=" background-color: #f99d6e; color: white; border-radius: 0; width:6.25rem;"
            data-toggle="modal" data-target="#finishProjectModal">
            <i class="fab icon-terminado"></i>
            Finish
          </button>
          <button class="btn col-3 btn-space text-uppercase px-0 py-1" type="button" (click)="onFinishClientProject()"
            *ngIf="(previewProject.state === 'PROGRESS' || previewProject.state === 'NEW') && role === 'CLIENT'"
            style=" background-color: #f99d6e; color: white; border-radius: 0; width:6.25rem;">
            <i class="fab icon-terminado"></i>
            Finish
          </button>
          <button class="btn col-3 btn-space text-uppercase px-0 py-1" type="button"
            *ngIf="previewProject.state === 'PROGRESS' || previewProject.state === 'NEW'"
            style=" background-color: #f15d5d; color: white; border-radius: 0; width:6.25rem"
            (click)="onCancel()">
            <i class="fas icon-cancelados"></i>
            Cancel
          </button>
          <button class="btn col-4 btn-space text-uppercase px-0 py-1" type="button"
            *ngIf="previewProject.state === 'FINISH' && role === 'SERVICE_PROVIDER' && previewProject.projectBriefcaseId === 0"
            style=" background-color: #2888C7; color: white; border-radius: 0; width: 10rem;" (click)="onCreateBriefcase()">
            <i class="icon-briefcase" style="font-size: larger;"></i>&nbsp;
            Add Briefcase
          </button>
        </ng-template>

      </div>
      <div class="col-3 px-2 text-right">
        <div class="reveal">
          <button type="button" class="btn mx-2 px-1 rounded-0" alt="View">
            <i class="fas icon-eye" style="color: #2888C7;" (click)="viewDetails()"></i></button>
          <button type="button" class="btn mx-2 px-1 rounded-0" alt="Edit" *ngIf="role === 'CLIENT'">
            <i class="fas icon-user-edit" style="color: #2888C7;" (click)="onEditProject()"></i></button>
          <button type="button" class="btn mx-2 px-1 rounded-0" *ngIf="role === 'CLIENT'">
            <i class="fas icon-bin" style="color: #2888C7;"></i></button>
        </div>
      </div>
    </div>
    <div class="row" style="background-color: #f1f1f1; color:#605c61;">
      <div class="col-12">
        <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
          {{previewProject.name}}
        </p>
        <hr class="border-bottom mt-0">
      </div>
      <hr>
      <div class="col-12">
        <p style="font-size:medium">
          {{previewProject.description}}
        </p>
      </div>
    </div>
    <div class="row" style="background-color: #f1f1f1;">
      <div class="col-12">
        <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
          Required Locations
        </p>
        <hr class="border-bottom mt-0">
      </div>
      <hr>
      <div class="col-12">
        <div style="font-size:small">
          <ul *ngIf="role === 'CLIENT';else providerDivisions">
            <li *ngFor="let division of divisionsName">
              {{division}}
            </li>
          </ul>
          <ng-template #providerDivisions>
            Your profile locations apply for this project. Click <i class="fas icon-eye"></i> for more details.
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row" style="background-color: #f1f1f1;">
      <div class="col-12">
        <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
          Required Services
        </p>
        <hr class="border-bottom mt-0">
      </div>
      <div class="col-12">
        <div style="font-size:small">
          <ul *ngIf="role === 'CLIENT'; else providerServices">
            <li *ngFor="let service of servicesName">
              {{service}}
            </li>
          </ul>
          <ng-template #providerServices>
            Your profile services apply for this project. Click <i class="fas icon-eye"></i> for more details.
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade rounded-0" id="finishProjectModal" tabindex="-1" role="dialog"
  aria-labelledby="finishProjectModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered rounded-0" role="document">
    <div class="modal-content rounded-0 border-0">
      <div class="modal-header rounded-0" style="background-color: #2888C7; color: white;">
        <label>Finish Project</label>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body rounded-0">
        <p class="text-left">
          You can add the finished project to your Portfolio. The job will be sent to your client, for
          asking
          review and valoration. Once the client gives you the review, the jobb will appear as a verified Job, wich increase your credibility
          and chances to get more jobs.
        </p>
        <p class="text-left">
          You can add the project right now, or you can do it later, by going to the project in the FINISH
          section of
          MY PROJECTS tab.
        </p>
      </div>
      <div class="modal-footer rounded-0">
        <button type="button" class="btn btn-previous rounded-0" data-dismiss="modal"
          style="background-color: #bfbdbe;color: #2880a9;" (click)="onFinishProjectExecution()">Later</button>
        <button type="button" class="btn btn-send rounded-0" data-dismiss="modal"
          style="background-color: #2888C7;color: white;" (click)="onCreateBriefcase()">Add Now</button>
      </div>
    </div>
  </div>
</div>
</ng-container>


