<ng-container *ngIf="previewProject$ | async as previewProject">

  <div class="card col-12 rounded-0">
    <div class="row vertical-align py-1 preview-toolbar" style="z-index: 0;">
      <div class="col-9">
        <ng-container *ngIf="(previewProject.state === 'NEW' && role === 'SERVICE_PROVIDER'); else playTemplate">
          <button class="btn col-3 btn-space" [disabled]="!canApply" id="applytBtn" type="button"
            style=" background-color: #2888C7; color: white; border-radius: 0; width:6.25rem;" (click)="onApply()">
            <i class="fab fa-telegram-plane"></i>
            Apply
          </button>
          <button class="btn col-3 btn-space" id="startBtn" type="button" [disabled]="!canStart"
            style=" background-color: #a1d173; color: white; border-radius: 0; width:6.25rem;" (click)="onStartProjectExecution()">
            <i class="fab fa-telegram-plane"></i>
            Start
          </button>
        </ng-container>
        <ng-template #playTemplate>
          <button class="btn col-3 btn-space" type="button" *ngIf="previewProject.state === 'PROGRESS' || previewProject.state === 'NEW'"
            style=" background-color: #f99d6e; color: white; border-radius: 0;" (click)="onFinishProjectExecution()">
            <svg class="finish-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.87 48.64">
              <defs>
                <style>
                  .cls-1 {
                    fill: #fff;
                  }
                </style>
              </defs>
              <title>terminados</title>
              <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                  <path class="cls-1"
                    d="M46.22,11.54H38.39v4.64h7.83V31.63h-10A2.31,2.31,0,0,0,33.86,34V44H6V38.78H1.4V44A4.64,4.64,0,0,0,6,48.64H38.12a4.67,4.67,0,0,0,3.28-1.37l8.11-8.1a4.68,4.68,0,0,0,1.36-3.28V16.18A4.66,4.66,0,0,0,46.22,11.54ZM38.49,43.62V36.27h7.35Z" />
                  <path class="cls-1"
                    d="M21.67,5.16c-3.16,0-6-2.07-10.44-2.07a14.34,14.34,0,0,0-5.2,1,3.16,3.16,0,0,0,.14-1.33,3.09,3.09,0,1,0-4.62,3V32a1,1,0,0,0,1,1h1a1,1,0,0,0,1-1V26.6a17.68,17.68,0,0,1,8.24-1.84c3.17,0,6,2.06,10.44,2.06a15,15,0,0,0,8.29-2.58A3.09,3.09,0,0,0,33,21.65V6.19A3.09,3.09,0,0,0,28.7,3.34,18.46,18.46,0,0,1,21.67,5.16Zm8.24,16.5a12.06,12.06,0,0,1-6.59,2.06c-3.86,0-6.57-2.06-10.44-2.06a22.16,22.16,0,0,0-8.24,1.55v-15a12.17,12.17,0,0,1,6.59-2.06c3.87,0,6.58,2.06,10.44,2.06a22.1,22.1,0,0,0,8.24-2.06Z" />
                </g>
              </g>
            </svg>
            Finish
          </button>
          <button class="btn col-3 btn-space" type="button" *ngIf="previewProject.state === 'PROGRESS' || previewProject.state === 'NEW'"
            style=" background-color: #f15d5d; color: white; border-radius: 0; width:6.25rem" (click)="onCancelProjectExecution()">
            <svg class="cancel-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.06 41.93">
              <defs>
                <style>
                  .cls-1 {
                    fill: #fff;
                  }
                </style>
              </defs>
              <title>cancelados</title>
              <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                  <path class="cls-1"
                    d="M37.34,16.86l-6,6a1.44,1.44,0,0,1-2,0l-6-6a1.42,1.42,0,0,1,0-2L24,14.2a1.45,1.45,0,0,1,2.06,0l2.4,2.56V5.92H17.23a1.44,1.44,0,0,1-1-.42l-.95-1a1.44,1.44,0,0,1,1-2.45H30.8a1.44,1.44,0,0,1,1.43,1.44V16.78l2.41-2.56a1.43,1.43,0,0,1,2,0l.65.64a1.44,1.44,0,0,1,0,2Zm-15.81.92a1.47,1.47,0,0,0-1-.42H9.34V6.51l2.41,2.55a1.43,1.43,0,0,0,2.05,0l.65-.65a1.44,1.44,0,0,0,0-2l-6-6a1.42,1.42,0,0,0-2,0l-6,6a1.42,1.42,0,0,0,0,2l.64.65a1.44,1.44,0,0,0,2.06,0l2.4-2.55V19.75A1.44,1.44,0,0,0,7,21.18H21.47a1.43,1.43,0,0,0,1-2.44l-.95-1Z" />
                  <path class="cls-1"
                    d="M50.42,4.85H38.59V9.48H50.42V24.93H40.37a2.32,2.32,0,0,0-2.32,2.32v10H10.24V28.08H5.6v9.21a4.64,4.64,0,0,0,4.64,4.64H42.31a4.66,4.66,0,0,0,3.29-1.36l8.1-8.1a4.64,4.64,0,0,0,1.36-3.28V9.48A4.65,4.65,0,0,0,50.42,4.85ZM42.69,36.92V29.57H50Z" />
                </g>
              </g>
            </svg>
            Cancel
          </button>
          <button class="btn col-4 btn-space" type="button" *ngIf="previewProject.state === 'FINISH' && role === 'SERVICE_PROVIDER'"
            style=" background-color: #2888C7; color: white; border-radius: 0;" (click)="onCreateBriefcase()">
            <span class="icon-briefcase" style="font-size: larger;"></span>&nbsp;
            Add Briefcase
          </button>
        </ng-template>

      </div>
      <div class="col-3 px-2 text-right">
        <div class="reveal">
          <button type="button" class="btn mx-2 px-1 rounded-0" alt="View">
            <i class="fas fa-eye" style="color: #2888C7;" (click)="viewDetails()"></i></button>
          <button type="button" class="btn mx-2 px-1 rounded-0" alt="Edit" *ngIf="role === 'CLIENT'">
            <i class="fas fa-edit" style="color: #2888C7;" (click)="onEditProject()"></i></button>
          <button type="button" class="btn mx-2 px-1 rounded-0" *ngIf="role === 'CLIENT'">
            <i class="fas fa-trash" style="color: #2888C7;"></i></button>
        </div>
      </div>
    </div>
    <div class="row" style="background-color: #f1f1f1; color:#605c61;">
      <div class="col-12">
        <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
          {{previewProject.name}}
        </p>
        <hr class="border-bottom mt-0">
      </div>
      <hr>
      <div class="col-12">
        <p style="font-size:medium">
          {{previewProject.description}}
        </p>
      </div>
    </div>
    <div class="row" style="background-color: #f1f1f1;">
      <div class="col-12">
        <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
          Required Locations
        </p>
        <hr class="border-bottom mt-0">
      </div>
      <hr>
      <div class="col-12">
        <div style="font-size:small">
          <ul *ngIf="role === 'CLIENT';else providerDivisions">
            <li *ngFor="let division of divisionsName">
              {{division}}
            </li>
          </ul>
          <ng-template #providerDivisions>
            Your profile locations apply for this project. Click <i class="fas fa-eye"></i> for more details.
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row" style="background-color: #f1f1f1;">
      <div class="col-12">
        <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
          Required Services
        </p>
        <hr class="border-bottom mt-0">
      </div>
      <div class="col-12">
        <div style="font-size:small">
          <ul *ngIf="role === 'CLIENT'; else providerServices">
            <li *ngFor="let service of servicesName">
              {{service}}
            </li>
          </ul>
          <ng-template #providerServices>
            Your profile services apply for this project. Click <i class="fas fa-eye"></i> for more details.
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<app-image-gallery></app-image-gallery>

