<ng-container *ngIf="previewProject$ | async as previewProject">

  <div class="card col-12 rounded-0">
    <div class="row vertical-align py-1 preview-toolbar" style="z-index: 0;">
      <div class="col-9">
        <button class="btn col-5" type="button" *ngIf="canApply$ | async; else playTemplate"
          style=" background-color: #2888C7; color: white; border-radius: 0;" (click)="onApply()">
          <i class="fab fa-telegram-plane"></i>
          Apply
        </button>
        <ng-template #playTemplate>
          <button class="btn col-5" type="button" *ngIf="previewProject.state === 'NEW' && role === 'SERVICE_PROVIDER'"
            style=" background-color: #2888C7; color: white; border-radius: 0;" (click)="onStartProjectExecution()">
            <i class="fab fa-telegram-plane"></i>
            Start
          </button>
          <button class="btn col-3" type="button" *ngIf="previewProject.state === 'PROGRESS'"
            style=" background-color: #2888C7; color: white; border-radius: 0;" (click)="onFinishProjectExecution()">
            Finish
          </button>
          <button class="btn col-3" type="button" *ngIf="previewProject.state === 'PROGRESS'"
            style=" background-color: #2888C7; color: white; border-radius: 0;" (click)="onCancelProjectExecution()">
            <svg class="cancel-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.06 41.93">
              <defs>
                <style>
                  .cls-1 {
                    fill: #fff;
                  }
                </style>
              </defs>
              <title>cancelados</title>
              <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                  <path class="cls-1"
                    d="M37.34,16.86l-6,6a1.44,1.44,0,0,1-2,0l-6-6a1.42,1.42,0,0,1,0-2L24,14.2a1.45,1.45,0,0,1,2.06,0l2.4,2.56V5.92H17.23a1.44,1.44,0,0,1-1-.42l-.95-1a1.44,1.44,0,0,1,1-2.45H30.8a1.44,1.44,0,0,1,1.43,1.44V16.78l2.41-2.56a1.43,1.43,0,0,1,2,0l.65.64a1.44,1.44,0,0,1,0,2Zm-15.81.92a1.47,1.47,0,0,0-1-.42H9.34V6.51l2.41,2.55a1.43,1.43,0,0,0,2.05,0l.65-.65a1.44,1.44,0,0,0,0-2l-6-6a1.42,1.42,0,0,0-2,0l-6,6a1.42,1.42,0,0,0,0,2l.64.65a1.44,1.44,0,0,0,2.06,0l2.4-2.55V19.75A1.44,1.44,0,0,0,7,21.18H21.47a1.43,1.43,0,0,0,1-2.44l-.95-1Z" />
                  <path class="cls-1"
                    d="M50.42,4.85H38.59V9.48H50.42V24.93H40.37a2.32,2.32,0,0,0-2.32,2.32v10H10.24V28.08H5.6v9.21a4.64,4.64,0,0,0,4.64,4.64H42.31a4.66,4.66,0,0,0,3.29-1.36l8.1-8.1a4.64,4.64,0,0,0,1.36-3.28V9.48A4.65,4.65,0,0,0,50.42,4.85ZM42.69,36.92V29.57H50Z" />
                </g>
              </g>
            </svg>
            Cancel
          </button>
        </ng-template>

      </div>
      <div class="col-3 px-2 text-right">
        <div class="reveal">
          <button type="button" class="btn mx-2 px-1 rounded-0" alt="View">
            <i class="fas fa-eye" style="color: #2888C7;" (click)="viewDetails()"></i></button>
          <button type="button" class="btn mx-2 px-1 rounded-0" alt="Edit">
            <i class="fas fa-edit" style="color: #2888C7;" (click)="onEditProject()"></i></button>
          <button type="button" class="btn mx-2 px-1 rounded-0">
            <i class="fas fa-trash" style="color: #2888C7;"></i></button>
        </div>
      </div>
    </div>
    <div class="row" style="background-color: #f1f1f1; color:#605c61;">
      <div class="col-12">
        <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
          {{previewProject.name}}
        </p>
        <hr class="border-bottom mt-0">
      </div>
      <hr>
      <div class="col-12">
        <p style="font-size:medium">
          {{previewProject.description}}
        </p>
      </div>
    </div>
    <div class="row" style="background-color: #f1f1f1;">
      <div class="col-12">
        <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
          Required Locations
        </p>
        <hr class="border-bottom mt-0">
      </div>
      <hr>
      <div class="col-12">
        <div style="font-size:small">
          <ul *ngIf="role === 'CLIENT';else providerDivisions">
            <li *ngFor="let division of divisionsName">
              {{division}}
            </li>
          </ul>
          <ng-template #providerDivisions>
            Your profile locations apply for this project. Click <i class="fas fa-eye"></i> for more details.
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row" style="background-color: #f1f1f1;">
      <div class="col-12">
        <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
          Required Services
        </p>
        <hr class="border-bottom mt-0">
      </div>
      <div class="col-12">
        <div style="font-size:small">
          <ul *ngIf="role === 'CLIENT'; else providerServices">
            <li *ngFor="let service of servicesName">
              {{service}}
            </li>
          </ul>
          <ng-template #providerServices>
            Your profile services apply for this project. Click <i class="fas fa-eye"></i> for more details.
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-container>
