ul {
  display: block;
}

li {
  display: inline-block;
}

li::before {
  content: "\2022";
  margin: 0 4px 0px 8px;
}

.preview-toolbar {
  background-color: #ffffff;
  color: #2985C4;
  border-bottom: 1px solid #2985C4;
  z-index: 1;
}

.cancel-btn, .finish-btn{
  width: 1.25rem;
}

.cancel-btn:hover, .edit-btn:hover{
  fill: #605c61;
}

.btn-space{
  margin-right: 5px;
}

.btn:disabled{
  cursor:not-allowed;
  opacity: 0.5;
}
