.section-label{
    text-align: center;
    color: #2f057e;
    font-size: 2rem;
    padding-left: 1rem;
    padding-top: 2rem;

}


.svg-reazon-user{
    width: 7rem;
}

.svg-reazon-find{
    width: 9rem;
    fill: #952a79;
}

.svg-reazon-sms{
    width: 8rem;
    fill: #10467c;
}

.svg-reazon-global{
    width: 7rem;
    fill: #2787c4;
}

.tittle{
    font-weight: bold;
    font-size: 1.2rem;
}

.col-sm-7{
    padding-left: 0!important;
    padding-right: 0!important;
    max-width: 80%;
}

.row{
    padding-left: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    background-color: #f1f1f1;
}

.fiability-label{
    font-size: 0.9rem;
    text-align: justify;
}

.jobbag-img{
    width: 95%;
    position: relative;
    float: right;
  }

.svg{
    fill:#2f057e;
    width: 32%;
}