.section-label{
    text-align: center;
    color: #2f057e;
    font-size: 2rem;
}

.svg-reazon-user{
    width: 4rem;
}

.svg-reazon-find{
    width: 5rem;
    fill: #952a79;
}

.svg-reazon-sms{
    width: 4rem;
    fill: #10467c;
}

.svg-reazon-global{
    width: 3.6rem;
    fill: #2787c4;
}

.card-tittle{
    font-weight: bold;
    font-size: 1.2rem;
}

.fiability-label{
    font-size: 0.9rem;
    text-align: justify;
}

.jobbag-img{
    width: 95%;
    position: relative;
    float: right;
  }

.svg{
    fill:#2f057e;
    width: 32%;
}

/*Overview 992px*/
@media screen and (max-width: 991.98px) {
    .container-fluid{   
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }  
} 

/*Overview 576px*/
@media (max-width: 575.98px) {
    .container-fluid{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    } 

