<div class="container-fluid" id="fiability-section">
    <div class="row">
        <div class="col-xl-7">
            <div class="row">
                <p class="section-label">
                    Por qué usar Jobbag ?
                </p>
            </div>
            <div class="row">
                <div class="col-xl-6">
            <img src="../../../assets/icons/SVG/reazon-user.svg" class="fiability-img-user" alt="Responsive image">
                    <p class="fiability-label">
                        <div class="col-sm-7">
                            <p class="tittle">
                               Conectamos con los mejores
                            </p>
                            <p class="fiability-label">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                       
                        <img src="../../../assets/icons/SVG/reazon-find.svg" class="fiability-img-find" alt="Responsive image">
                        <p class="fiability-label">
                        <div class="col-sm-7">
                            <p class="tittle">
                               Fácil de Buscar con los mejores
                            </p>
                            <p class="fiability-label">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                </div>
                
                <div class="col-xl-6">
                    <img src="../../../assets/icons/SVG/reazon-sms.svg" class="fiability-img-sms" alt="Responsive image">
                        <p class="fiability-label">
                        <div class="col-sm-7">
                            <p class="tittle">
                               Facil de comunicar
                            </p>
                          <p class="fiability-label">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          </p>
                        </div>                        
                       
                        <img src="../../../assets/icons/SVG/reazon-global.svg" class="fiability-img-global" style="color: blue;" alt="Responsive image">
                        <p class="fiability-label">
                        <div class="col-sm-7">
                            <p class="tittle">
                               Conectamos con los mejores
                            </p>
                            <p class="fiability-label">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5">
            <img src="../../../assets/img/reazon01.jpg" class="jobbag-img" alt="Responsive image">       
        </div>
    </div>
</div>