<form [formGroup]="loginForm" (ngSubmit)="jobbagLogin()">
  <fieldset>

    <div>
      <label>Email:</label>
      <input name="email" [formControl]="email" required>
    </div>
    <div>
      <label>Password:</label>
      <input name="password" [formControl]="password" type="password" required>
    </div>
  </fieldset>
  <div>
    <button [disabled]="email.invalid || password.invalid">Login</button>
  </div>
</form>
<button (click)="facebookLogin()">Facebook</button>
<button (click)="googleLogin()">Google</button>
