<div class="container-fluid" id="statistics-section">
    <div class="row justify-content-center">
            <div class="col-sm-3 justify-content-center">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../assets/icons/SVG/data-user.svg" class="jobbag-img" alt="Responsive image">
                    </div>
                        <p class="statistics-label">
                        <div class="col-sm-7">
                            <p class="counter">
                               399
                          </p>
                          <p class="statistics-label">
                              Usuarios
                          </p>
                     </div>
                </div>           
            </div>
            <div class="col-sm-3 justify-content-center">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../assets/icons/SVG/data-works.svg" class="jobbag-img" alt="Responsive image">
                    </div>
                    <div class="col-sm-7">
                        <p class="counter">
                            1299
                        </p>
                        <p class="statistics-label">
                            Trabajos
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 justify-content-center">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../assets/icons/SVG/data-breif.svg" class="jobbag-img" alt="Responsive image">
                    </div>
                    <div class="col-sm-7">
                        <p class="counter">
                            587
                        </p>
                        <p class="statistics-label">
                            Portafolios
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 justify-content-center">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../assets/icons/SVG/data-client.svg" class="jobbag-img" alt="Responsive image">
                    </div>
                    <div class="col-sm-7">
                        <p class="counter">
                            100%
                        </p>
                        <p class="statistics-label">
                            Clientes Satisfechos
                        </p>
                    </div>
                </div>
            </div>    
        </div>
</div>