<div class="container-fluid" id="statistics-section">
    <div class="row justify-content-center">
            <div class="col-sm-3 justify-content-center">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../assets/icons/SVG/data-user.svg" class="jobbag-img" alt="Responsive image">
                    </div>
                        <p class="statistics-label">
                        <div class="col-sm-7">
                            <p class="counter">
                               399
                          </p>
                          <p class="statistics-label" i18n="statistic element-text|statistic element-text name@@statistic element-text">
                              Users
                          </p>
                     </div>
                </div>           
            </div>
            <div class="col-sm-3 justify-content-center">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../assets/icons/SVG/data-works.svg" class="jobbag-img" alt="Responsive image">
                    </div>
                    <div class="col-sm-7">
                        <p class="counter">
                            1299
                        </p>
                        <p class="statistics-label" i18n="statistic element-text2|statistic element-text2 name@@statistic element-text2">
                            Works
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 justify-content-center">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../assets/icons/SVG/data-breif.svg" class="jobbag-img" alt="Responsive image">
                    </div>
                    <div class="col-sm-7">
                        <p class="counter">
                            587
                        </p>
                        <p class="statistics-label" i18n="statistic element-text3|statistic element-text3 name@@statistic element-text3">
                            Briefcases
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 justify-content-center">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../../../assets/icons/SVG/data-client.svg" class="jobbag-img" alt="Responsive image">
                    </div>
                    <div class="col-sm-7">
                        <p class="counter">
                            100%
                        </p>
                        <p class="statistics-label" i18n="statistic element-text4|statistic element-text4 name@@statistic element-text4">
                            Satisfied Clients
                        </p>
                    </div>
                </div>
            </div>    
        </div>
</div>