<!-- <app-navbar></app-navbar> -->
<div class="container">
  <div class="row">
    <div class="col-sx-2">
      <h1>Edit</h1>
    </div>
    <div class="col-md-9">
    </div>
    <div class="col-sx-1">
      <button class="btn-save btn-success btn-block text-center btn-lg" type="submit"
      [disabled]="editUserForm.invalid || loading">Save Changes</button>
      <div class="row my-5 py-5 justify-content-center" [hidden]="!loading">
       <div class="spinner-border" style="color: #2787C4;" role="status">
        <span class="sr-only">Loading...</span>
       </div>
     </div>
    </div>

  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      <div class="text-center">
      <!--to the left-->
      <figure class="figure">
        <img src='../../../assets/img/defaultProfile.png' class="figure-img img-thumbnail rounded-circle"
          alt="Profile Picture">
      </figure>
      <hr>
      <h6>Change Picture</h6>
      <input type="file" class="form-control">
    </div>
    </div>
    <div class="col-md-10">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Briefcase</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

          <div class="container align-items-center">
            <div class="row justify-content-center mx-0 my-5">
              <div class="col-4">

          <form [formGroup]="editUserForm" (ngSubmit)="editUser()">
            <div class="row form-group mb-1">
              <fieldset class="col-12 mx-0 px-0">

                <div class="my-4">
                  <input
                    [ngClass]="editUserForm.get('name').invalid && (editUserForm.get('name').dirty || editUserForm.get('name').touched) ? 'is-invalid' : '' "
                    class="form-control input-lg" name="name" placeholder="username" formControlName="name">
                  <div class="invalid-feedback">
                    You must enter a username!
                  </div>

                </div>

                <div class="my-4">
                  <input
                    [ngClass]="editUserForm.get('email').invalid && (editUserForm.get('email').dirty || editUserForm.get('email').touched) ? 'is-invalid' : '' "
                    class="form-control input-lg" name="email" placeholder="email@gmail.com" formControlName="email">
                  <div class="invalid-feedback">
                    <p *ngIf="editUserForm.get('email').hasError('required')">
                      You must enter an email!
                    </p>
                    <p *ngIf="editUserForm.get('email').hasError('email')">
                      You must enter a valid email!
                    </p>
                  </div>
                </div>


                <div >
                  <div class="my-4">
                    <input *ngIf="showPassword"
                      [ngClass]="editUserForm.get('password').invalid && (editUserForm.get('password').dirty || editUserForm.get('password').touched) ? 'is-invalid' : '' "
                      class="form-control input-lg" name="password" formControlName="password" type="password"
                      placeholder="********(password)">
                    <div class="invalid-feedback">
                      <p *ngIf="editUserForm.get('password').hasError('required')">
                        You must enter a password!
                      </p>
                      <p *ngIf="editUserForm.get('password').hasError('minlength')">
                        You password must have at least 5 characters!
                      </p>
                    </div>
                  </div>

                  <div class="my-4">
                    <input *ngIf="showPassword"
                      [ngClass]="(editUserForm.hasError('passwordsMissmatch') || editUserForm.get('confirmPassword').invalid) && (editUserForm.get('confirmPassword').dirty || editUserForm.get('confirmPassword').touched) ? 'is-invalid' : '' "
                      class="form-control input-lg" name="confirmPassword" formControlName="confirmPassword" type="password"
                      placeholder="********(confirm password)">
                    <div class="invalid-feedback">
                      <p *ngIf="editUserForm.get('confirmPassword').hasError('required')">
                        You must confirm your password!
                      </p>
                      <p
                        *ngIf="!editUserForm.get('confirmPassword').hasError('required') && editUserForm.hasError('passwordsMissmatch')">
                        Your passwords must be equals!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row mt-1 justify-content-center">
                  <button *ngIf="!showPassword"class="btn btn-primary text-center btn-lg" style="background-color: #B3BE35;"
                    (click)=togglePasswords()>Show my password</button>
                  <button *ngIf="showPassword" class="btn btn-primary  text-center btn-lg" style="background-color: #932877;"
                    (click)=togglePasswords()>Hide my password</button>
                </div>

              </fieldset>
            </div>
          </form>
          </div>
          </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <app-profile-extras #profileExtras></app-profile-extras>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <app-birefcase-edit></app-birefcase-edit>
        </div>
      </div>

      <div class="alert alert-danger" *ngIf=editError.err role="alert">
        {{editError.message}}
      </div>
      <div class="alert alert-success" *ngIf=editOK.ok role="success">
        {{editOK.message}}
      </div>

    </div>
  </div>
</div>

<div class="divline my-5"></div>





