<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 justify-content-right">
            <p class="tittle-section">
                Nosotros les Recomendamos
            </p>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-3 justify-content-center">
                    <div class="arrow_box">
                        <p class="arrow-text" style="text-align: center;">
                            www.facebook.com        
                        </p>            
                    </div>
                    <div class="arrow_box">
                        <p class="arrow-text" style="text-align: center;">
                            www.linkedin.com        
                        </p>            
                    </div>
                </div>
                <div class="col-sm-3 justify-content-center">
                    <div class="arrow_box">
                        <p class="arrow-text" style="text-align: center;">
                            www.freelancer.com        
                        </p>            
                    </div>
                    <div class="arrow_box">
                        <p class="arrow-text" style="text-align: center;">
                            www.free.com        
                        </p>            
                    </div>
                </div>
                <div class="col-sm-3 justify-content-center">
                    <div class="arrow_box">
                        <p class="arrow-text" style="text-align: center;">
                            www.workings.com        
                        </p>            
                    </div>
                    <div class="arrow_box">
                        <p class="arrow-text" style="text-align: center;">
                            www.trabajos.com        
                        </p>            
                    </div>
                </div>
                <div class="col-sm-3 justify-content-center">
                    <div class="arrow_box">
                        <p class="arrow-text" style="text-align: center;">
                            www.facebook.com        
                        </p>            
                    </div>
                    <div class="arrow_box">
                        <p class="arrow-text" style="text-align: center;">
                            www.facebook.com        
                        </p>            
                    </div>
                </div>
            </div>                  
        </div>
    </div>
</div>
