.container-fluid{
	background-color: #424242;
	padding-left: 5rem;
}

.tittle-section{
    color: white;
    font-size: 2rem;
}

.row{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
}

.arrow_box {
    position: relative;
    font-size: 1.3rem;
	background: #605c61;
	cursor: pointer;
}
.arrow_box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #605c61;
	border-width: 1rem;
	margin-top: -1rem;
	cursor: pointer;
}

.arrow-text{
	font-family: 'Segoe UI';
	color: #2787c4;
}

.arrow-text:hover{
	color: #0f5d8d;
}

.arrow_box:hover {
	background: #767277;
}

.arrow_box:hover::after {
	border-left-color:  #767277;
}