.vertical-align{
    align-items: center;
}

.bottom-btn{
    background: #2787c4;
    display: inline-block;
    /* margin: 0 1em 1em 0; */
    height: 36px;
    width: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right: 0.25rem!important;
}





