<div class="card col-12" style="background-color: white;border-radius: 0;">
    <div class="row vertical-align py-2">
        <div class="select-all col-1">
            <input type="checkbox" value="select-all">
        </div>
        <div class="col-4 px-0">
            <button type="button" class="btn mx-2 px-1" style="border-radius: 0;"><i class="fas fa-trash"
                    style="color: #bebcbe;"></i></button>
        </div>
        <div class="col-2">
            <div class="form-group" style="margin-bottom: 0;">
                <select data-style="btn-new" class="form-control" id="locationFilterSelect" style="border-radius: 0; border-color: #2888C7;">
                    <option value="0">Location</option>
                    <option>España</option>
                    <option>Canada</option>
                    <option>Cuba</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group" style="margin-bottom: 0;">
                <select class="form-control" id="servicesFilterSelect" style="border-radius: 0; border-color: #2888C7;">
                    <option value="0">Services</option>
                    <option>Designer</option>
                    <option>Development</option>
                    <option>Arquitect</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search"
                        style="border-radius: 0; border-color: #2888C7;">
                <div class="input-group-append">
                    <button class="btn" type="button" style="border-radius:0; background-color: #2888C7; color:white">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
