<ng-container *ngIf="detailProject$ | async as detailProject; else listTemplate">
  <ng-container *ngIf="showBriefcaseForm; else projectDetailTemplate">
    <div class="col-6">
      <div class="row" style="background-color:#f7f8f9; margin: 0rem;">
        <div class="col-md-12 rounded-0 p-0">
          <div class="mt-0 py-3" style=" background-color: white; padding: 2rem;">
            <p class="font-weight-bold text-uppercase text-center" style="color:#2888c7">Add Job to your portfolio</p>
            <form [formGroup]="briefcaseEditForm">
              <div class="mb-3">
                <div class="modal-body mt-0 p-0">
                  <div class="row m-0 p-0 container-fluid">
                    <div class="mb-3 my-0 py-0 col-12">
                      <input
                        [ngClass]="briefcaseEditForm.get('description').invalid && (briefcaseEditForm.get('description').dirty || briefcaseEditForm.get('description').touched) ? 'is-invalid' : '' "
                        class="form-control input-lg rounded-0 font-weight-bold" formControlName="description" id="briefcaseTitle"
                        placeholder="Enter a title for your Job" required>
                        <!-- <label style="font-weight: 100;" for="briefcaseTitle">Enter a title for your Job</label> -->
                      <div class="invalid-feedback">
                        Please enter a title.
                      </div>
                    </div>
                  </div>
                  <div class="row row-cols-2 row-cols-md-3 container rounded-0 scroll-host p-2 m-0"
                    style="height: 400px;" id="img-container">
                    <div class="col-6 col-md-4 card image-card w-md-25 w-50 p-0"
                      *ngFor="let img of (pictures$ | async) as pictures; index as i;">
                      <div class="card-body p-0" style="height: 100px;">
                        <img [src]="img" alt="{{briefcaseEditForm.value.description}}" class="img "
                          style="object-fit: cover;">
                      </div>
                    </div>
                    <div class="col-6 col-md-4 card text-center image-card w-md-25 w-50 p-0" style="height: 100px;">
                      <label for="file-input" id="image-upload">
                        <div class="card-body py-4 px-0" style="height: 100px; background-color: rgb(108, 117, 125);"
                          id="addImageCard">
                          <span class="text-white">
                            <i class="fas fa-plus-circle"></i>
                            <p>Upload images</p>
                          </span>
                        </div>
                        <input id="file-input" #pictureInput type="file" multiple="true"
                          (change)="uploadPicture($event)" hidden accept="image/*" (click)="pictureInput.value=null;">
                      </label>
                    </div>
                  </div>
                  <div class="col-12">

                    <div class=" mb-3 my-0 py-0">
                      <!-- <label style="font-weight: 100;" for="comments">Enter some comments</label> -->
                      <textarea class="form-control rounded-0" formControlName="comments" id="comments"
                        placeholder="Enter some comments"></textarea>
                    </div>
                    <div class="row my-0 py-0">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <!-- <label for="validationTextarea">Start Date</label> -->
                          <div class="input-group">
                            <input class="form-control rounded-0" formControlName="startDate" id="validationTextarea"
                              placeholder="Start Date" ngbDatepicker #startDatePicker="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar rounded-0"
                                (click)="startDatePicker.toggle()" type="button">
                                <i class="far fa-calendar-alt fa-lg"></i>
                              </button>
                            </div>
                          </div>
                          <div class="invalid-feedback">
                            Please enter a date.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <!-- <label for="validationTextarea">End Date</label> -->
                          <div class="input-group">
                            <input class="form-control rounded-0" formControlName="endDate" id="validationTextarea"
                              placeholder="End Date" ngbDatepicker #endDatePicker="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar rounded-0"
                                (click)="endDatePicker.toggle()" type="button">
                                <i class="far fa-calendar-alt fa-lg"></i>
                              </button>
                            </div>
                          </div>
                          <div class="invalid-feedback">
                            Please enter a date.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-12 my-0 py-0 text-right"> -->
                <div class="row justify-content-end">
                  <div class="col-6">
                  </div>
                  <div class="col-8 col-sm-6 btn-group justify-content-between px-4">
                    <button type="button" class="btn col-6 btn btn-previous rounded-0 mr-2"
                      style="background-color: #BFBDBE; color: #2688C6;" data-toggle="tooltip" data-dismiss="modal"
                      title="Close" (click)="cancelBriefcase()">CLOSE</button>
                    <ng-container *ngIf="briefcaseEditForm.invalid; else validButton">
                      <button type="button" class="btn col-6 btn btn-edit rounded-0"
                        style="color: white; background-color: #2688C6;" data-toggle="tooltip" title="Save" disabled>
                        SAVE
                      </button>
                    </ng-container>
                    <ng-template #validButton>
                      <button type="button" class="btn col-5 btn btn-edit rounded-0"
                        style="color: white; background-color: #2688C6;" data-toggle="tooltip" title="Save"
                        (click)="saveBriefcase()">
                        SAVE
                      </button>

                    </ng-template>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </ng-container>
  <ng-template #projectDetailTemplate>
    <app-project-detail [project]="detailProject" [role]="userProfile.userProfileType" (goBack)="onBackToList()"
    (action)="onPreviewAction($event)"></app-project-detail>
  </ng-template>
</ng-container>
<ng-template #listTemplate>
  <ng-container *ngIf="projects$ | async as projects">
    <div class="container-fluid">
      <div class="row">
        <!-- <button type="button" class="bottom-btn" style="position:fixed">UP/Down</button> -->
        <div class="col-12 px-2">
          <!-- ACTION BAR -->
          <app-project-action-bar [actions]="actionBar" (action)="onAction($event)"
            (filters)="onActionBarFilters($event)" [statusFilter]="statusFilter"
            [divisionFilter]="userProfile.divisions" [serviceFilter]="userProfile.services" [dateFilter]="dateFilter"
            (selectAll)="onSelectAll($event)"
            ></app-project-action-bar>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-6 px-2">
          <div class="row mb-2 px-5">
            <div class="col text-center" *ngFor="let status of statusFilter" [ngClass]="{'status-selected':statusValue === status}"
                id="status-col" (click)="onStatusChange(status)">
              <p class="status-text" [ngClass]="{'status-selectext':statusValue === status}">{{status}}</p>
            </div>

          </div>
          <!-- PROJECT CARD -->
          <div class="col-12 scroll-host">
            <ng-container *ngIf="projects$ | async as myProjects">
              <app-project-card-list [projects]="myProjects" [masterSelected$]="selectAll$" [reset$]="selectedCard$"
                (checkedProjects)="onProjectChecked($event)" (cardClicked)="onCardClicked($event)" [cardMode]="'WIDE'">
              </app-project-card-list>
            </ng-container>
          </div>
        </div>
        <div class="col-6 px-2">
          <!-- PROJECT PREVIEW -->
          <ng-template #previewTemplate>
            <app-project-preview [userProfileId]="userProfile!.id" [previewProject$]="previewProject$"
            [role]="userProfile.userProfileType" (action)="onPreviewAction($event)" (detail)="viewDetail($event)">
          </app-project-preview>
          </ng-template>
          <ng-container *ngIf="showBriefcaseForm; else previewTemplate">
            <div class="row" style="background-color:#f7f8f9; margin: 0rem;">
              <div class="col-md-12 rounded-0 p-0">
                <div class="mt-0 py-3" style=" background-color: white; padding: 2rem;">
                  <p class="font-weight-bold text-uppercase text-center" style="color:#2888c7">Add Job to your portfolio</p>
                  <form [formGroup]="briefcaseEditForm">
                    <div class="mb-3">
                      <div class="modal-body mt-0 p-0">
                        <div class="row m-0 p-0 container-fluid">
                          <div class="mb-3 my-0 py-0 col-12">
                            <input
                              [ngClass]="briefcaseEditForm.get('description').invalid && (briefcaseEditForm.get('description').dirty || briefcaseEditForm.get('description').touched) ? 'is-invalid' : '' "
                              class="form-control input-lg rounded-0 font-weight-bold" formControlName="description" id="briefcaseTitle"
                              placeholder="Enter a title for your Job" required>
                              <!-- <label style="font-weight: 100;" for="briefcaseTitle">Enter a title for your Job</label> -->
                            <div class="invalid-feedback">
                              Please enter a title.
                            </div>
                          </div>
                        </div>
                        <div class="row row-cols-2 row-cols-md-3 container rounded-0 scroll-host p-2 m-0"
                          style="height: 400px;" id="img-container">
                          <div class="col-6 col-md-4 card image-card w-md-25 w-50 p-0"
                            *ngFor="let img of (pictures$ | async) as pictures; index as i;">
                            <div class="card-body p-0" style="height: 100px;">
                              <img [src]="img" alt="{{briefcaseEditForm.value.description}}" class="img "
                                style="object-fit: cover;">
                            </div>
                          </div>
                          <div class="col-6 col-md-4 card text-center image-card w-md-25 w-50 p-0" style="height: 100px;">
                            <label for="file-input" id="image-upload">
                              <div class="card-body py-4 px-0" style="height: 100px; background-color: rgb(108, 117, 125);"
                                id="addImageCard">
                                <span class="text-white">
                                  <i class="fas fa-plus-circle"></i>
                                  <p>Upload images</p>
                                </span>
                              </div>
                              <input id="file-input" #pictureInput type="file" multiple="true"
                                (change)="uploadPicture($event)" hidden accept="image/*" (click)="pictureInput.value=null;">
                            </label>
                          </div>
                        </div>
                        <div class="col-12">

                          <div class=" mb-3 my-0 py-0">
                            <!-- <label style="font-weight: 100;" for="comments">Enter some comments</label> -->
                            <textarea class="form-control rounded-0" formControlName="comments" id="comments"
                              placeholder="Enter some comments"></textarea>
                          </div>
                          <div class="row my-0 py-0">
                            <div class="col-md-6">
                              <div class="mb-3">
                                <!-- <label for="validationTextarea">Start Date</label> -->
                                <div class="input-group">
                                  <input class="form-control rounded-0" formControlName="startDate" id="validationTextarea"
                                    placeholder="Start Date" ngbDatepicker #startDatePicker="ngbDatepicker">
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar rounded-0"
                                      (click)="startDatePicker.toggle()" type="button">
                                      <i class="far fa-calendar-alt fa-lg"></i>
                                    </button>
                                  </div>
                                </div>
                                <div class="invalid-feedback">
                                  Please enter a date.
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="mb-3">
                                <!-- <label for="validationTextarea">End Date</label> -->
                                <div class="input-group">
                                  <input class="form-control rounded-0" formControlName="endDate" id="validationTextarea"
                                    placeholder="End Date" ngbDatepicker #endDatePicker="ngbDatepicker">
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar rounded-0"
                                      (click)="endDatePicker.toggle()" type="button">
                                      <i class="far fa-calendar-alt fa-lg"></i>
                                    </button>
                                  </div>
                                </div>
                                <div class="invalid-feedback">
                                  Please enter a date.
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- <div class="col-12 my-0 py-0 text-right"> -->
                      <div class="row justify-content-end">
                        <div class="col-6">
                        </div>
                        <div class="col-8 col-sm-6 btn-group justify-content-between px-4">
                          <button type="button" class="btn col-6 btn btn-previous rounded-0 mr-2"
                            style="background-color: #BFBDBE; color: #2688C6;" data-toggle="tooltip" data-dismiss="modal"
                            title="Close" (click)="cancelBriefcase()">CLOSE</button>
                          <ng-container *ngIf="briefcaseEditForm.invalid; else validButton">
                            <button type="button" class="btn col-6 btn btn-edit rounded-0"
                              style="color: white; background-color: #2688C6;" data-toggle="tooltip" title="Save" disabled>
                              SAVE
                            </button>
                          </ng-container>
                          <ng-template #validButton>
                            <button type="button" class="btn col-5 btn btn-edit rounded-0"
                              style="color: white; background-color: #2688C6;" data-toggle="tooltip" title="Save"
                              (click)="saveBriefcase()">
                              SAVE
                            </button>

                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

  </ng-container>
</ng-template>



