.column-title{
  color:#605c61;
  /* font-weight: light; */
  font-size: 1rem;
  text-align: center;
}

.status-text{
  font-weight: bold;
  color: #bcbebc;
}

#status-col{
  border-bottom: solid 1px #bcbebc;
  cursor: pointer;
}

#status-col:checked{
  border-bottom: solid 2px #2888C7;
}

.status-selected{
  border-bottom: solid 2px #2888C7 !important;
}

.status-selectext{
   color: #2888C7 !important;
}
