<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12 px-1">
      <!-- ACTION BAR -->
      <app-project-action-bar></app-project-action-bar>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-4 px-2 scroll-host">
      <!--NEW PROJECTS CARD LIST-->
      <h5 class="column-title">
        New Projects
      </h5>
      <ng-container *ngIf="newProjects$ | async as newProjects">
        <app-project-card-list
          [projects]="newProjects"
          [cardMode]="'COMPACT'"
          [masterSelected$]="selectAll$"
          (cardClicked)="onCardClicked($event)"
          (checkedProjects)="onProjectChecked($event)">
        </app-project-card-list>
      </ng-container>
    </div>
    <div class="col-4 px-2 scroll-host">
      <!--IN PROGRESS PROJECTS CARD LIST-->
      <h5 class="column-title">
        Projects in Progress
      </h5>
      <ng-container *ngIf="inProgressProjects$ | async as progressProjects">
        <app-project-card-list
          [projects]="progressProjects"
          [cardMode]="'COMPACT'"
          [masterSelected$]="selectAll$"
          (cardClicked)="onCardClicked($event)"
          (checkedProjects)="onProjectChecked($event)">
        </app-project-card-list>
      </ng-container>
    </div>
    <div class="col-4 px-2 scroll-host">
      <!--COMPLETED PROJECTS CARD LIST -->
      <h5 class="column-title">
        Finished Projects
      </h5>
      <ng-container *ngIf="finishedProjects$ | async as finishedProjects">
        <app-project-card-list
          [projects]="finishedProjects"
          [cardMode]="'COMPACT'"
          [masterSelected$]="selectAll$"
          (cardClicked)="onCardClicked($event)"
          (checkedProjects)="onProjectChecked($event)">
        </app-project-card-list>
      </ng-container>
    </div>
  </div>
