.img-avatar{
    border: solid 3px #2787c4;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}

.col-user-data{
    margin-bottom: 0.25rem !important;
}

.user-name{
    font-size: 1.2rem;
    margin-bottom: 0 !important;
}

.user-account{
    font-size: 0.8rem;
    margin-bottom: 0 !important;
}

.btn-cv{
    background-color: #2787c4;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}

ul {
  display: block;
}

li {
  display: inline-block;
}

li::before {
  content: "\2022";
  margin: 0 4px 0px 8px;
}

.star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
.filled.color{
    color:gold;
  }

.img-briefcase{
    width: 9rem;
    height: 6rem;
    margin-top: 1rem;
}

/*Overview 414px*/
@media screen and (max-width: 413.98px) {
    .img-avatar{
        margin-top: 0.5rem;
        width: 7rem;
        height: 7rem;
    }
    .col-user-data{
        margin-bottom: 0 !important;
    }
}
