<div class="row mt-3">
    <div class="col-12">
        <div class="card mb-3" style="border: 0;">
            <div class="row no-gutters">
                <img src='../../../assets/img/lawyer.png' class="img img-avatar">
                <div class="card-body p-0">
                    <div class="col col-user-data">
                        <p class="user-name">John Lennon</p>
                    </div>
                    <div class="col col-user-data">
                        <p class="user-account">Cuenta Personal</p>
                    </div>
                    <div class="col col-user-data">
                        <ngb-rating [rate]="rating">
                            <ng-template let-fill="fill">
                              <span class="star" [ngClass]="'color'"[class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                          </ngb-rating>
                    </div>
                    <div class="col col-user-data">
                        <button type="button" class="btn btn-cv rounded-0 mt-2">
                            Curriculum<i class="fa fa-eye mx-2"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3 mb-5">
    <div class="col-md-8">
        <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipiscing elit arcu turpis nibh, rutrum sem erat vel dui ullamcorper
        ad placerat fermentum, tempus natoque faucibus ante duis lacus quam porttitor ligula. Sociosqu vehicula varius
        facilisi orci ad fusce maecenas, praesent ultrices scelerisque lacus faucibus tellus eget rutrum, nulla lectus
        accumsan augue elementum iaculis. At quam phasellus porttitor eu proin cursus eros cum porta, mauris tincidunt
        suspendisse sagittis volutpat dictumst mollis sociosqu, viverra hendrerit turpis fusce rutrum commodo donec nisl.
        </p>

        <div class="row">
            <div class="col-2 col-md-1 mr-0 pr-0">
                <i class="fa fa-briefcase" style="font-size: 1.5rem; color: #bebcbe;"></i>
            </div>
            <div class="col ml-0 pl-0">
                <p style="font-size: 1.2rem; color: #bebcbe;">Briefcases</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">
                <img src='../../../assets/img/default-image.png' class="img img-briefcase">
            </div>
            <div class="col-6 col-md-4">
                <img src='../../../assets/img/joinus.png' class="img img-briefcase">
            </div>
            <div class="col-6 col-md-4">
                <img src='../../../assets/img/slider01.jpg' class="img img-briefcase">
            </div>
            <div class="col-6 col-md-4">
                <img src='../../../assets/img/slider01.jpg' class="img img-briefcase">
            </div>
            <div class="col-6 col-md-4">
                <img src='../../../assets/img/default-image.png' class="img img-briefcase">
            </div>
            <div class="col-6 col-md-4">
                <img src='../../../assets/img/joinus.png' class="img img-briefcase">
            </div>
            <div class="col-6 col-md-4">
                <img src='../../../assets/img/joinus.png' class="img img-briefcase">
            </div>
            <div class="col-6 col-md-4">
                <img src='../../../assets/img/slider01.jpg' class="img img-briefcase">
            </div>
            <div class="col-6 col-md-4">
                <img src='../../../assets/img/default-image.png' class="img img-briefcase">
            </div>
        </div>
    </div>
    <div class="col col-md-4 mt-3">
        <div class="card rounded-0 border-0">
            <div class="card-header rounded-0 border-0" style="background-color: #2787c4; color: white;">
                Skills
            </div>
            <div class="card-body" style="background-color: #f1f1f1;">
                <p>Html 5</p>
                <p>CS3</p>
                <p>JavaScript</p>
                <p>PHP</p>
                <p>Wordpress</p>
                <p>Edicion</p>
                <p>Maquetado</p>
            </div>
        </div>

        <div class="card rounded-0 border-0 mt-3">
            <div class="card-header rounded-0 border-0" style="background-color: #2787c4; color: white;">
                Location
            </div>
            <div class="card-body" style="background-color: #f1f1f1;">
                <p>Canada</p>
                <p>Spain</p>
                <p>Cuba</p>
            </div>
        </div>
    </div>
</div>
