/*Component editProfileContainer*/
.container-cp-component{
    background-image: url(../../../assets/img/img-blur10-opacity50.png);
    background-size:125%;
    background-position: center;
    background-repeat: no-repeat;
  }

  /*Container Column*/
  .container-col{
    padding-left: 0;
    padding-right: 0;
    box-shadow: 10px 10px 12px 0.5rem rgba(0,0,0,0.5);
  }

  .custom-control-input{
    width: 1rem;
    height: 1rem;
    color: #2888C7;
    opacity: 0;
    z-index: -1;
    align-self: center !important;
  }

  /*Container columnBar*/
  .scroll-host {
    height: 28.5rem;
    overflow:auto;
    padding-right: 1rem;
  }

  /* Chrome columnBarStyle */
  .scroll-host::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  .scroll-host::-webkit-scrollbar-track{
    background-color:#BEBCBE;
    border-radius: 0;
  }
  .scroll-host::-webkit-scrollbar-thumb{
    background-color: #2888C7;
    border-radius: 0;
  }

  /*editProfileFormContainer*/
  .container-cp-form{
    padding: 1rem 2rem 1rem 2rem;
    background-color: white;
  }

  #section-card{
    border:0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-header{
    background-color: #2888C7;
  }

  .text-muted{
    font-size: 0.8rem;
    font-weight: 600;
  }

  #servicesBtnModal{
    padding-left: 0;
    padding-right: 0;
  }

  /*Overview 992px*/
@media screen and (max-width: 991.98px) {
.col-12{
  margin-top: 0.5rem;
}
.col-lg-7, .col-lg5{
  margin-top: 2rem!important;
}
}

/*Section Container*/
#create-profile-container{
  background-image: url(../../../assets/img/img-blur10-opacity50.png);
  background-size:105%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 4rem;
  padding-bottom: 4rem;
  z-index: -2;
}

#form-group-container{
  width: 8rem;
}

/*Section Stepper*/
#stepper-section{
  padding-left: 1rem;
  padding-top: 1.5rem;
  padding-right: 1rem;
  border-bottom-width: 1.5rem;
  background-color:white;
  box-shadow: 10px 10px 12px 0.5rem rgba(0,0,0,0.5);
}

/*Section Header Stepper*/
.step-trigger{
  padding: 0px !important;
  font-size: 50%;
}

.bs-stepper-label{
  visibility: hidden;
}

.bs-stepper-circle{
  font-size: 0.5rem;
  color: #6c757d;
  transition:0.3s;
  font-weight: 0;
}

.active .bs-stepper-circle{
  background-color: #2985c4;
  color: white;
  font-size: 1.2rem;
}

.step-trigger:hover {
  text-decoration: none;
  background-color:transparent;
}

.active .bs-stepper-label{
  color:#6c757d;
  font-size: 1rem;
  font-weight: lighter;
  visibility: visible;
}

/*Section Stepper Content*/
.bs-stepper-content {
  padding: 0 2rem 2rem;
}

.stepper-text{
  color: #6c757d;
  font-weight: bold;
}

/*Section Profile*/
.form-group{
  padding-left: 0px;
  padding-right: 0px;
}
.form-control{
  border-radius: 0 !important;
}

/*Section Picture*/
#pictureInput{
  visibility: hidden;
  width: 0;
}

.svg-add-user{
  width: 8rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.avatar-img{
  height: 4rem;
  cursor: pointer;
}

/*Section Country*/
#countries {
  height: 200px;
  overflow: hidden;
}

/*Section Service*/

/*Section CurriculumVitae*/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-uploadcv {
  background-color: #2985c4;
  border: 0;
}

.upload-btn-wrapper input[type=file] {
  font-size: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor:pointer;
}

.fa-folder{
  color:white;
  background-color:#2985c4;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#curriculumLabel{
  text-align: center !important;
  background-color: #f1f1f1;
  color: #6c757d;
  width: 15rem;
  padding: 0.25rem;
  text-align: left;
  margin-top: 0;
}

#curriculumLabelSuccess{
  text-align: center !important;
  background-color: #00bfa5;
  color: white;
  width: 15rem;
  padding: 0.25rem;
  text-align: left;
  margin-top: 0;
}

.overflow {
  width: 6.0rem;
  white-space: nowrap;
  overflow: hidden;
}

/*Section BriefCase*/

/*Section Resume*/
#commentsInput{
  width:100%;
  height: auto;
}

/*Section SteppersButtons*/
#btn-row{
  margin-top: 7rem;
}

.btn-previous, .btn-next{
  width: 4.5rem;
  height: 3.5rem;
  background-size: 2.5rem;
  box-shadow: none;
}

.svg-arrow-left{
  transform: rotate(180deg);
}

.svg-arrow-left:disabled, .svg-arrow-right:disabled{
  fill:#9B9B9B;
  width: 70%;
}

.svg-arrow-left, .svg-arrow-right{
  fill:#2888C7;
  width: 70%;
}

.svg-arrow-left:hover, .svg-arrow-right:hover{
  fill:#2880A9;
  width: 70%;
}

/*Overview 1200px*/
@media screen and (max-width: 1199.98px) {
  .btn-add-img{
    position: absolute;
    left: 10rem !important;
    bottom: 7.3rem !important;
  }

  .btn-del-img{
    left: 3.2rem !important;
    bottom: 13rem !important;
  }
}

/*Overview 992px*/
@media screen and (max-width: 991.98px) {
  .btn-add-img{
    left: 15rem !important;
    bottom: 6.3rem !important;
  }

  .btn-del-img{
    left: 8.2rem !important;
    bottom: 12rem !important;
  }
}

/*Overview 768x*/
@media screen and (max-width: 767.98px) {
  .btn-add-img{
    left: 11.5rem !important;
  }

  .btn-del-img{
    left: 5.2rem !important;
  }
}

/*Overview 576x*/
@media screen and (max-width: 575.98px) {
  .btn-add-img{
    left: 18.5rem !important;
  }

  .btn-del-img{
    left: 12.2rem !important;
  }
}

/*Overview 481px*/
@media screen and (max-width: 480.98px) {
  .btn-add-img{
    left: 15.5rem !important;
  }

  .btn-del-img{
    left: 8.7rem !important;
  }
}

/*Overview 415px*/
@media screen and (max-width: 414.98px) {
  .btn-add-img{
    left: 13.5rem !important;
  }

  .btn-del-img{
    left: 6.7rem !important;
  }
}

/*Overview 385px*/
@media screen and (max-width: 384.98px) {
  .btn-add-img{
    left: 12.5rem !important;
  }

  .btn-del-img{
    left: 6rem !important;
  }
}

/*Overview 376px*/
@media screen and (max-width: 375.98px) {
  .btn-add-img{
    left: 12rem !important;
  }

  .btn-del-img{
    left: 5.5rem !important;
  }
}

/*Overview 361px*/
@media screen and (max-width: 360.98px) {
  .btn-add-img{
    left: 11.5rem !important;
  }

  .btn-del-img{
    left: 5rem !important;
  }
}

/*Overview 321x*/
@media screen and  (max-width: 320.98px) {
  .btn-add-img{
    left: 10.3rem !important;
    bottom: 7.3rem !important;
  }

  .btn-del-img{
    left: 3.5rem !important;
    bottom: 13rem !important;
  }
}















