<div class="row mt-3">
    <div class="col-12">
        <div class="card mb-3" style="border: 0;">
            <div class="row no-gutters">
                <img src='../../../assets/img/default-image.png' class="img main-img-briefcase">
                <div class="card-body p-0">
                    <div class="col col-briefcase-data">
                        <p class="briefcase-name">Magazine Web Design</p>
                    </div>
                    <div class="col col-briefcase-data">
                        <p class="briefcase-services">Web Design - Development</p>
                    </div>
                    <div class="col col-briefcase-data mt-2">
                        <div class="row p-0 m-0">
                            <div class="col-1 m-0 p-0">
                                <i class="fa fa-user mt-1" style="color:#bebcbe;font-size: 1.2rem;"></i>
                            </div>
                            <div class="col pl-0">
                                <a href=""><span class="briefcase-user">John Lennon</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-briefcase-data mt-2">
                        <div class="row p-0 m-0">
                            <div class="col-1 pl-0 pb-0">
                                <i class="fa fa-calendar-alt mt-2" style="color:#bebcbe;font-size: 1.2rem;"></i>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <p class="date-text" style="font-weight: bold;margin-right: 5px;">Desde:</p>
                                    <p class="date-text">julio 23, 2020</p>
                                 </div>
                                <div class="row">
                                    <p class="date-text" style="font-weight: bold; margin-right: 5px;">Hasta:</p>
                                    <p class="date-text">noviembre 21, 2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-briefcase-data">
                        <ngb-rating [rate]="rating">
                            <ng-template let-fill="fill">
                              <span class="star" [ngClass]="'color'"[class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                          </ngb-rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3 mb-3">
    <div class="col">
        <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipiscing elit arcu turpis nibh, rutrum sem erat vel dui ullamcorper
        ad placerat fermentum, tempus natoque faucibus ante duis lacus quam porttitor ligula. Sociosqu vehicula varius
        facilisi orci ad fusce maecenas, praesent ultrices scelerisque lacus faucibus tellus eget rutrum, nulla lectus
        accumsan augue elementum iaculis. At quam phasellus porttitor eu proin cursus eros cum porta, mauris tincidunt
        suspendisse sagittis volutpat dictumst mollis sociosqu, viverra hendrerit turpis fusce rutrum commodo donec nisl.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-2 col-md-1 pr-0 mt-2">
        <i class="fa fa-images" style="font-size: 1.5rem; color: #bebcbe;"></i>
    </div>
    <div class="col ml-0 pl-0">
        <p style="font-size: 1.5rem; color: #bebcbe;">Pictures</p>
    </div>
</div>
<div class="row mt-3 mb-5">
    <div class="col-6 col-md-3">
        <img src='../../../assets/img/default-image.png' class="img img-briefcase">
    </div>
    <div class="col-6 col-md-3">
        <img src='../../../assets/img/joinus.png' class="img img-briefcase">
    </div>
    <div class="col-6 col-md-3">
        <img src='../../../assets/img/slider01.jpg' class="img img-briefcase">
    </div>
    <div class="col-6 col-md-3">
        <img src='../../../assets/img/slider01.jpg' class="img img-briefcase">
    </div>
    <div class="col-6 col-md-3">
        <img src='../../../assets/img/default-image.png' class="img img-briefcase">
    </div>
    <div class="col-6 col-md-3">
        <img src='../../../assets/img/joinus.png' class="img img-briefcase">
    </div>
    <div class="col-6 col-md-3">
        <img src='../../../assets/img/joinus.png' class="img img-briefcase">
    </div>
    <div class="col-6 col-md-3">
        <img src='../../../assets/img/slider01.jpg' class="img img-briefcase">
    </div>
    <div class="col-6 col-md-3">
        <img src='../../../assets/img/default-image.png' class="img img-briefcase">
    </div>
</div>
