<div class="container-fluid" id="howtodo-section">
    <div class="row justify-content-center mx-0 my-5">
        <p class="htd">
            Simples pasos para empezar
        </p>
    </div>
    <div class="row">
        <div class="col-md-3 justify-content-center">
            <img src="../../../assets/img/step01.png" class="rounded-circle" alt="Responsive image">
                <p class="action">
                    Crea un perfil
                </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 justify-content-center">
            <img src="../../../assets/img/step02.png" class="rounded-circle" alt="Responsive image">
                <p class="action">
                    Haz un portafolio con tus trabajos
                </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 justify-content-center">
            <img src="../../../assets/img/step03.png" class="rounded-circle" id="briefcase" alt="Responsive image">
                <p class="action">
                    Busca entre cientos de opciones
                </p>
        </div>
    </div>
</div>
