<div class="container-fluid" id="howtodo-section">
    <div class="row justify-content-center mx-0 my-5">
        <p class="htd" i18n="howtodo section-header|howtodo section-header text@@howtodo section-header">
            Simple steps to get started
        </p>
    </div>
    <div class="row">
        <div class="col-md-3 justify-content-center">
            <img src="../../../assets/img/step01.png" class="rounded-circle" alt="Responsive image">
                <p class="action" i18n="howtodo element-title2|howtodo element-title2 text@@howtodo element-title2">
                    Create a profile
                </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 justify-content-center">
            <img src="../../../assets/img/step02.png" class="rounded-circle" alt="Responsive image">
                <p class="action" i18n="howtodo element-title3|howtodo element-title3 text@@howtodo element-title3">
                    Make a briefcase with your jobs
                </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 justify-content-center">
            <img src="../../../assets/img/step03.png" class="rounded-circle" id="briefcase" alt="Responsive image">
                <p class="action" i18n="howtodo element-title4|howtodo element-title4 text@@howtodo element-title4">
                    Search amoung hundreds of options
                </p>
        </div>
    </div>
</div>
