  <div class="row container-fluid justify-content-around mx-0">
    <button type="button" class=" col-3 btn btn-primary rounded-0 border-0 mx-2 px-0"
        data-toggle="modal" data-target="#selectModal" [disabled]="disabled"
        *ngFor="let country of (countries); let i = index"
        (click)="onCountrySelect(country, i)"
        [style.color] = "!!selectedByCountry[i].length ? '#FFFFFF' : '#2985c4'"
        [style.font-weight] = "!!selectedByCountry[i].length ? 'normal' : 'bold'"
        [style.background-color] = "!!selectedByCountry[i].length ? '#2985c4' : '#BEBCBE'" >
          {{country.nameEn}}
          <span *ngIf="!!selectedByCountry[i].length" class="badge badge-light rounded-circle"
                 style="color: #2985c4">{{selectedByCountry[i].length}}</span>
    </button>
  </div>

  <div class="modal fade rounded-0" data-backdrop="static" id="selectModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal modal-dialog-centered rounded-0" role="document">
      <div class="modal-content rounded-0 border-0">
        <div class="modal-header rounded-0" style="background-color: #2888C7; color: white;">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{selectedCountry?.nameEs}}</h5>
          <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body rounded-0">
          <div class="select-container row container-fluid justify-content-lg-center m-0 p-0">
            <div class="card col-12 h-100 px-0 mx-0" id="container">

              <div class="card-body w-100">
                <ng-select
                [multiple]="true"
                [items]="countryDivisions"
                groupBy="parentId"
                [selectableGroup]	= "true"
                [selectableGroupAsModel] = "false"
                [(ngModel)]="selectedCountryDivisions"
                placeholder="Select your regions"
                [closeOnSelect]="false"
                bindLabel="nameEs"
                bindValue="id"
                >
                  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
                    {{selectedCountry.nameEs | uppercase}}
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.nameEs}}
                  </ng-template>
                </ng-select>

              </div>

            </div>
          </div>

        </div>

        <div class="modal-footer rounded-0">
          <button type="button" class="btn btn-previous rounded-0" data-dismiss="modal" style="background-color: #bfbdbe;color: #2880a9;"
            >Cancel</button>
          <button type="button" class="btn btn-send rounded-0" data-dismiss="modal"
            style="background-color: #2888C7;color: white;" (click)="onSave()">Accept</button>
        </div>
      </div>
    </div>
  </div>
