<div class="container-fluid " id="home-content">    
    <div class="row" >
      <div class="col-sm-6 pt-5 justify-content">
        <button type="button" class="btn btn-lg rounded-0" id="btn-right" (click)="hire()">
           I Need a Service
        </button>
        <br>
        <button type="button" class="btn btn-lg rounded-0" id="btn-left"  (click)="work()">
          I Want to Work
        </button>
        <p class="motivational-text">
          Contrata a un profesional para el servicio que necesitas
        </p>

        <div class="arrow_box"></div>

      </div>
      <div class="col-md-6">
          <img src="../../../assets/img/slider01.jpg" style="border-left: #ffffff;" class="jobbag-img" alt="Responsive image">
      </div>
  </div>
</div>