.text-btn {
font-size: 2.5rem !important;
color: white;
}
.motivational-text{
  margin-top: 2rem;
  font-size: 1.5rem !important;
}

@media (max-width: 1080) {
  .text-btn {
    font-size: 1.75rem !important;
  }
  .motivational-text {
    font-size: 1rem !important;
  }
}

@media (max-width: 840px) {
  .text-btn {
    font-size: 1rem !important;
  }
  .motivational-text {
    font-size: 0.5rem !important;
  }
}

#home-content {
  background-color:#2985C4 ;
  /* min-height: 400px; */
  /* max-height: 800px; */
}

.p{
	font-family: Segoe UI;
}

.col-md-6{
  padding-right: 0!important;
}

.jobbag-img{

  margin-top: -10px;


}

.col-sm-6{
padding-left: 18rem;
padding-top: 8rem !important;
}

.btn-lg {
  margin-top: 0.5rem;
  font-size: 4.00rem;
}

.whattodo-text, .motivational-text{
  color: #ffffff;
  font-family: 'Segoe UI';
}

.whattodo-text{
  font-size: 2rem;
}



#btn-right{
	background-image: url(../../../assets/img/arrow_box_right.png);
	background-position:center;
	background-repeat: no-repeat;
	background-size: contain;
	text-align:right ;
}

#btn-left{
	background-image: url(../../../assets/img/arrow_box.png);
	background-position:center;
	background-repeat: no-repeat;
	background-size: contain;
	text-align:left ;
}
