#home-content {
  background-color:#ffffff ;
  min-height: 400px;
  max-height: 800px;
}

#btn-left{
  border-color: #2787C4;
  border-left: white;
}

.left-arrow{
  transform: rotate(180deg);
}

.col-md-6{
  padding-right: 0!important;
}

.jobbag-img{
  width: 90%;
  position: relative;
  float: right;
}

.col-sm-6{
padding-left: 20rem;
padding-top: 8rem !important;
}
.btn-lg {
  color: #000000;
  margin-top: 0.2rem;
  border-width: 5px;
  font-size: 2.25rem;
}

.whattodo-text, .motivational-text{
  color: #000000;
  font-family: 'Segoe UI';
}

.whattodo-text{
  font-size: 2rem;
}

.motivational-text{
  margin-top: 2rem;
  font-size: 1.5rem;
}

#btn-right{
  position: relative;
	background: #ffffff;
	border: 5px solid #2787c4;
}

#btn-right:after, #btn-right:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#btn-right:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 2.2rem;
	margin-top: -2.2rem;
}
#btn-right:before {
	border-color: rgba(39, 135, 196, 0);
	border-left-color: #2787c4;
	border-width: 2.6rem;
	margin-top: -2.6rem;
}

#btn-left{
  position: relative;
	background: #ffffff;
	border: 5px solid #2787c4;
}

#btn-left:after, #btn-left:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#btn-left:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 2.2rem;
	margin-top: -2.2rem;
}
#btn-left:before {
  border-color: rgba(39, 135, 196, 0);
	border-right-color: #2787c4;
	border-width: 2.6rem;
	margin-top: -2.6rem;
}