<div class="row container-fluid m-0 p-0" id="home-content">
    <div class="col-6 m-0 p-0 pt-5 align-self-center">
      <div class="row container-fluid justify-content-center">
        <button type="button" class="btn btn-lg rounded-0 col-8" id="btn-left" (click)="hire()">
          <p class="ml-5 text-btn text-wrap"  i18n="role btn-right|role btn-right title@@role btn-right">I need a Service</p>
        </button>
        </div>
        <div class="row container-fluid justify-content-center">
          <button type="button" class="btn btn-lg rounded-0 col-8" id="btn-right" (click)="work()">
            <p class="mr-5 text-btn text-wrap" i18n="role btn-left|role btn-left title@@role btn-left">I want to work</p>
          </button>
          </div>
          <div class="row container-fluid justify-content-center">
            <p class="motivational-text col-8 text-wrap" i18n="role motivational-text|role motivational-text description@@role motivational-text">
              Hire professionals for the Service you need
            </p>
          </div>



      <div class="arrow_box"></div>

    </div>
    <div class="col-6 m-0 p-0">
        <img src="../../../assets/img/slider01.jpg" class="img-fluid"
        style="border-left: #2985C4;max-width: 100%; height: auto;" class="jobbag-img" alt="Responsive image">
    </div>

</div>
