.joinus-img{
    text-align: center;
     display: block;
     margin-left: auto;
     margin-right: auto;
     height: auto;
     max-width: 23rem;
}

.tittle-section, .text-content{
    color: white;
    text-align: left;
}

.tittle-section{
    font-size: 2rem;
} 

.btn-lg {
    color: white;
    border-width: 3px;
    margin-top: 1rem !important;
  }

  /*Overview 992px*/
@media screen and (max-width: 991.98px) {
    .left-column{
        margin-top: 2rem!important;
        padding: 2rem!important;
    }  
  } 

 /*Overview 768px*/
 @media screen and (max-width: 767.98px) {
    .joinus-img{
        max-width: 18rem;
    }

    .left-column{
        padding-left: 1.5rem!important;
        padding-right: 1.5rem!important;
        padding-bottom: 0rem!important;
    }  
  } 

  
  /*Overview 576px*/
  @media (max-width: 575.98px) {
    .left-column{
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
  }
 