<div class="container-fluid" id="joinus-section">
    <div class="row">
        <div class="col-md-6">
            <p class="tittle-section" i18n="joinus header|joinus header tittle@@joinus header">
                Join us
            </p>
            <p class="text-content" i18n="joinus content|joinus content text@@joinus content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <button class="btn btn-lg col-6 mt-5 rounded-0" style="border-color: #ffffff;" i18n="joinus btn-joinus|joinus btn-joinus text@@joinus btn-joinus">
                I want to join
            </button>
        </div>
        <div class="col-md-5">
            <img src="../../../assets/img/joinus01-01.png" class="joinus-img" alt="Responsive image">
        </div>
    </div>
</div>