<ng-container *ngIf="!!userProfile">
  <ng-container *ngIf="(briefcaseDetail$ | async) as briefcase; else profileDetailTemplate">
    <div class="row justify-content-center m-0 p-0">
        <app-briefcase-detail [briefcase]="briefcase" [userName]="userProfile.name" (closeDetail)="onBriefcaseDetailClose()"></app-briefcase-detail>
    </div>
  </ng-container>
  <ng-template #profileDetailTemplate>
    <div class="container-fluid p-0 m-0">
        <app-user-detail [userProfile]="userProfile" (briefcaseDetail)="onBriefcaseDetail($event)"></app-user-detail>
    </div>
  </ng-template>
</ng-container>
