<nav class="navbar container-fluid m-0 p-0" >
  <div class="row container-fluid m-0 p-0">
    <div class="col col-3 navbar-brand mx-0 my-2">
      <img class="img img-fluid col-12" src="../../../assets/logo/SVG/blanca.svg">
    </div>
    <div *ngIf="(isLoggedIn)" class="col col-6 mx-0">
      <div class="offset-1">
        <div class="input-group form-sm form-1 pl-0 rounded-0">
          <div class="input-group-prepend rounded-0">
            <span class="input-group-text border-right-0 rounded-0"><i class="fas fa-search"
                aria-hidden="true"></i></span>
          </div>
          <input class="form-control my-0 py-1 border-left-0 rounded-0" type="text" placeholder="Search"
            aria-label="Search">
        </div>
      </div>

    </div>
    <div *ngIf="(isLoggedIn)" class="col col-2 mx-0">
      <div class="row container">
        <div class="col-6">
          <div class="row justify-content-end">{{(loggedUser | async)!.username}}</div>
          <div class="row justify-content-end">
            <a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-edit" alt="Edit"></i>
            </a>
            <div class="dropdown-menu ">
              <a class="dropdown-item text-dark">Service Provider</a>
              <a class="dropdown-item text-dark" >Customer </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-dark" [routerLink]="['user',userId,'edit-user']" [queryParams]="{function: 'EDIT'}" routerLinkActive="active">Edit Profile</a>
              <a class="dropdown-item text-dark" (click)="signout()">Sign Out</a>

            </div>
          </div>
        </div>
        <div class="col-6">
          <a routerLink="" routerLinkActive="active">
            <img class="rounded-circle"
              [src]="(socialUser) ? 'socialUser.photoUrl' : '../../../assets/img/defaultProfile.png' ">
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="(isLoggedIn)" class="col col-1 mx-0">
      <a routerLink="" routerLinkActive="active">
        <i class="fas fa-bars" alt="Menu"></i>
      </a>
    </div>
    <div *ngIf="!(isLoggedIn)" class="col-8 " >
      <div class="row justify-content-end">
        <button class="btn btn-link mx-2" routerLink='/auth/login' routerLinkActive="active">
          <i class="far fa-user"></i>
          Login
        </button>
        <button class="btn btn-link mx-2" routerLink='/auth/register' routerLinkActive="active">
          <i class="fas fa-user-plus"></i>
          Register
        </button>
        <button class="btn btn-link mx-2" routerLink='/user/{{userId}}' routerLinkActive="active">Dashboard</button>
      </div>
    </div>
  </div>
</nav>
