.navbar {
  background-color: #ffffff;
  color: #2985C4;
}

.btn-link {
  color: #2985C4;

}
.fas.far {
  color: #2985C4;
}

.input-group-prepend,
.input-group-text {
  background-color: white;
  color: #999999;
}

img.rounded-circle {
  width: 100%;
}


.fa-bars {
  font-size: 2rem;
}

a, a:hover {
  color: #2985C4;
}


