<nav class="navbar container-fluid py-0 border-bottom shadow" [hidden]="hiddenNavbar">
  <div class="row container-fluid m-0 p-0">
    <div class="col-5 col-xs-4 col-sm-3 navbar-brand mx-0" style="cursor: pointer;" (click)="goHome()">
      <img class="img img-fluid col-12 img-logo" src="assets/logo/SVG/color.svg" >
    </div>
    <!-- <div class="col-1 col-sm-3 mx-0">
    </div> -->
    <div *ngIf="(isLoggedIn$ | async)" class="col-5 col-xs-4 mx-0 text-right" id="user-name-pict-container">
      <div class="row justify-content-end">
        <div class="col-5 col-xs-3" id="user-col" style="padding-top: 0.3rem;padding-right: 0;">
        <button class="btn btn-sm btn-link dropdown-toggle m-0 p-0 font-weight-bold" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{loggedUser?.username}}
        </button>
        <div class="dropdown-menu rounded-0 justify-content-end" style="left:unset; right: 0;">
          <!-- Item GO TO provider -->
          <h6 class="dropdown-header">Active Profile</h6>
          <div class="dropdown-item row  container-fluid no-gutters" *ngIf="hasProfiles[1] ; else noProvider">
            <div class="col-2 p-0" style="font-size: 8px;"
              [ngStyle]="{'color': role === 'CLIENT' ? 'rgba(255,255,255,0)' : '#64a24f'}">
              <i class="fas fa-circle"></i>
            </div>
            <a class="btn btn-link text-left text-dark col ml-1 p-0" (click)="toServiceProvider()">
              Provider
            </a>
          </div>
          <!-- Item Create provider -->
          <ng-template #noProvider>
            <div class="dropdown-item row  container-fluid no-gutters">
              <div class="col-2 p-0" style="font-size: 8px;" style="color: rgba(255,255,255,0);">
                <i class="fas fa-circle"></i>
              </div>
              <a class="btn btn-link text-left text-dark col ml-1 p-0" (click)="createProvider()">
                Create Provider
              </a>
            </div>
          </ng-template>
          <!-- Item GO TO client -->
          <div class="dropdown-item row container-fluid no-gutters" *ngIf="hasProfiles[0] ; else noClient">
            <div class="col-2" style="font-size: 8px;"
              [ngStyle]="{'color': role === 'SERVICE_PROVIDER' ? 'rgba(255,255,255,0)' : '#64a24f'}">
              <i class="fas fa-circle"></i>
            </div>
            <a class="btn btn-link text-left text-dark col-9" (click)="toClient()">
              Client
            </a>
          </div>
          <!-- Item Create provider -->
          <ng-template #noClient>
            <div class="dropdown-item row  container-fluid no-gutters">
              <div class="col-2 p-0" style="font-size: 8px;" style="color: rgba(255,255,255,0);">
                <i class="fas fa-circle"></i>
              </div>
              <a class="btn btn-link text-left text-dark col-9 p-0" (click)="createClient()">
                Create Client
              </a>
            </div>
          </ng-template>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Profile Actions</h6>
          <a class="dropdown-item text-dark" [routerLink]="['user',userId,role]" routerLinkActive="active">
            Go to Dashboard</a>
          <a class="dropdown-item text-dark" [routerLink]="['user',userId,role,'edit']" routerLinkActive="active">Edit
            Profile</a>
          <a class="dropdown-item text-dark" [routerLink]="['user',userId,'password']" routerLinkActive="active">Change
            Password</a>
          <!-- Language -->
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Language</h6>
          <ng-template ngFor let-lang [ngForOf]="languages">
            <div *ngIf="lang.code !== localeId">
              <!-- <a class="dropdown-item" style="color: black;" href="/{{lang.code}}/">{{lang.label}}</a> -->
              <a class="dropdown-item" style="color: black;" href="/{{lang.code}}/{{changerLanguageRouter()}}">{{lang.label}}</a>
            </div>
              <a class="dropdown-item" style="color: black;" *ngIf="lang.code === localeId">{{lang.label}}</a>
          </ng-template>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-dark" style="cursor: pointer;" (click)="signout()">Sign Out</a>
        </div>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 text-left" id="picture-col">
        <div *ngIf="!defaultPicture; else defaultSVG" class="rounded-circle" >
          <img [src]="userImageUrl" class="img img-src rounded-circle" id="user-image">
        </div>
        <ng-template #defaultSVG>
          <span class="icon-user-image" style="font-size: 2.5rem ;"></span>
        </ng-template>
        </div>
      </div>
    </div>
    <!-- Hamburguer Dropdown -->
    <!-- <div *ngIf="(isLoggedIn$ | async)" class="col col-2 mx-0">
      <div class="dropdown text-right">
        <i class="fas fa-bars justify-content-end" alt="Menu" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" style="cursor: pointer;"></i>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </div>
    </div> -->
    <div *ngIf="!(isLoggedIn$ | async)" class="col-6 -0">
      <div class="row container-fluid justify-content-end px-0">
        <button class="btn btn-link col-4 col-xs-3 col-md-2 px-0" id="btn-login" style="font-size:0.850rem;" routerLink='/auth/login' routerLinkActive="active"
          i18n="nav link-login|nav link-login title@@nav link-login">
          <i class="far fa-user"></i>
          Login
        </button>
        <button class="btn btn-link col-6 col-xs-5 col-sm-4 col-md-3 col-lg-2 px-0" id="btn-register" style="font-size: 0.850rem;" routerLink='/auth/register'
          routerLinkActive="active" i18n="nav link-register|nav link-register title@@nav link-register">
          <i class="fas fa-user-plus"></i>
          Register
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- <div class="dropdown show">
  <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false"
    style="font-size:0.850rem; background-color:#FFFFFF ;color: #2985C4; border:0; border-radius: 0;">
    Languages
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <ng-template ngFor let-lang [ngForOf]="languages">
      <div *ngIf="lang.code !== localeId">
        <a class="dropdown-item" href="/{{lang.code}}/">{{lang.label}}</a></div>
      <a class="dropdown-item" *ngIf="lang.code === localeId">{{lang.label}} </a>
    </ng-template>
  </div>
</div> -->
