.navbar {
  background-color: #ffffff;
  color: #2985C4;
  border-bottom-color: #2985C4 !important;
  border-bottom-width: 3px !important;
  box-shadow: #2985C4 !important;
  z-index: 1;
}

.btn-link {
  color: #2985C4;

}
.fas.far {
  color: #2985C4;
}

.input-group-prepend,
.input-group-text {
  background-color: white;
  color: #999999;
}

/* img.rounded-circle {
  height: 80%;
} */


.fa-bars {
  font-size: 2rem;
}

a, a:hover {
  color: #2985C4;
}


.badge{
  margin: -15px;
  color: #2985C4;
}
.default-img {
  height: 100%;
}

.svg-add-user{
   height: 3rem;
   width: 3rem;
  /* border-radius: 50%; */
  object-fit: fill;
  cursor: pointer;
}

.cls-1 {
  fill: #2985C4;
  height: 50%;
}

#user-image {
  height: 3rem;
  width: 3rem;
 /* border-radius: 50%; */
 object-fit: fill;
 cursor: pointer;
}

.active{
  background-color: #f7f8f9;
}

.dropdown-item:active{
  background-color:#ebeef3;
}


/*Overview 1250px*/
@media (max-width: 1249.98px) {
 .img-logo{
   max-width: 50%!important;
 }
}

/*Overview 1080px*/
@media screen and (max-width: 1079.98px){
  .img-logo{
    max-width: 55%!important;
  }
 }

 /*Overview 992px*/
@media screen and (max-width: 991.98px) {
.img-logo{
  max-width: 60%!important;
  }
}


/*Overview 840px*/
@media (max-width: 840px) {
  .img-logo{
    max-width: 75%!important;
    }
}

/*Overview 680px*/
@media (max-width: 679.98px) {
  .img-logo{
    max-width: 90%!important;
    }
}

/*Overview 576px*/
@media (max-width: 575.98px) {
  .img-logo{
    max-width: 100%!important;
    }
}