.select-component {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* Body position must be relative while using appendTo */
  position: relative;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/* .card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
} */

.ng-select.custom {
  border:0px;
  min-height: 0px;
  border-radius: 0;
}
.ng-select.custom .ng-select-container  {
  min-height: 0px;
  border-radius: 0;
}

/*Chrome columnBarStyle*/
.scroll-host::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
.scroll-host::-webkit-scrollbar-track{
  background-color:#BEBCBE;
  border-radius: 0;
}
.scroll-host::-webkit-scrollbar-thumb {
  background-color: #2888C7;
  border-radius: 0;
}