<!-- {{countries$ | async | json}} -->

<div *ngIf="popup; else singleScreen">
  <div class="row container-fluid justify-content-around mx-0">
    <button type="button" class=" col-3 btn btn-primary rounded-0 border-0 text-light mx-2 px-0"
      data-toggle="modal" data-target="#selectModal" style="background-color: #2985c4 ;"
      (click)="onCountrySelect(country, i)" *ngFor="let country of (countries); let i = index">
      {{country.nameEn}}
      <span *ngIf="!!selectedByCountry[i].length" class="badge badge-light rounded-circle" style="color: #2985c4">{{selectedByCountry[i].length}}</span>
    </button>
  </div>

  <div class="modal fade rounded-0" id="selectModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal modal-dialog-centered rounded-0" role="document">
      <div class="modal-content rounded-0 border-0">
        <div class="modal-header rounded-0" style="background-color: #2888C7; color: white;">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{selectedCountry?.nameEs}}</h5>
          <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body rounded-0">
          <div class="select-container row container-fluid justify-content-lg-center m-0 p-0">
            <div class="card col-12 h-100 px-0 mx-0" id="container">
              <!-- <div class="card-header justify-content-between">
                <button class="btn btn-primary btn-edit rounded-0" data-dismiss="modal"
                  style="background-color: #2888C7;" (click)="saveDivisions()">Accept these regions
                </button>

               {{selectedCountry?.nameEs}}


              </div> -->
              <div class="card-body w-100">
                <ng-select
                [multiple]="true"
                [items]="countryDivisions"
                groupBy="parentId"
                [selectableGroup]	= "true"
                [selectableGroupAsModel] = "false"
                [(ngModel)]="selectedCountryDivisions"
                placeholder="Select your regions"
                [closeOnSelect]="false"
                bindLabel="nameEs"
                bindValue="id"
                (change)="onChange($event)">
                  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
                    {{selectedCountry.nameEs | uppercase}}
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.nameEs}}
                  </ng-template>
                </ng-select>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #singleScreen>
  <div class="row container-fluid justify-content-around ">
    <button type="button" class=" col-3 btn btn-primary mt-5 rounded-0 border-0 text-light mx-2 px-0"
      (click)="onCountrySelect(country)" *ngFor="let country of (countries$ | async)">
      {{country.nameEn}}
    </button>
  </div>
  <div class="select-container row container-fluid justify-content-lg-center m-0 p-0">
    <div class="card col-12 h-100 px-0 mx-0" id="container">
      <div class="card-header">
        <button class="btn btn-secondary rounded-0" data-dismiss="modal" (click)="saveDivisions()">Accept these
          regions</button>
      </div>
      <div class="card-body w-100">
        <ng-select [multiple]="true"
        [items]="countryDivisions"
        groupBy="divisions"
        [selectableGroup]="true"
        [selectableGroupAsModel]="true"
        [(ngModel)]="selectedDivisions"
        placeholder="Select your regions"
        [closeOnSelect]="false"
        bindLabel="nameEs"
        bindValue="id">
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
            {{item.nameEs | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.nameEs}}
          </ng-template>
        </ng-select>

      </div>

    </div>
  </div>
</ng-template>






<!-- {{countries$ | async | json}} -->
