<!-- {{countries$ | async | json}} -->

<div *ngIf="dualScreen; else singleScreen">
  <div class="row container-fluid justify-content-around ">
    <button type="button" class=" col-3 btn btn-primary mt-5 rounded-0 border-0 text-light mx-2 px-0"
      data-toggle="modal" data-target="#selectModal" style="background-color: #2985c4 ;"
      (click)="onCountrySelect(country)" *ngFor="let country of (countries$ | async)">
      {{country.nameEn}}
    </button>
  </div>

  <div class="modal fade " id="selectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{selectedCountry?.nameEs}}</h5>
          <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="select-container row container-fluid justify-content-lg-center m-0 p-0">
            <div class="card col-12 h-100 px-0 mx-0" id="container">
              <div class="card-header">
                <button class="btn btn-secondary rounded-0" data-dismiss="modal" (click)="saveDivisions()">Accept these
                  regions</button>
              </div>
              <div class="card-body w-100">
                <ng-select [multiple]="true" [items]="countryDivisions" groupBy="divisions" [selectableGroup]="true"
                  [selectableGroupAsModel]="false" [(ngModel)]="selectedDivisions" placeholder="Select your regions"
                  [closeOnSelect]="false" bindLabel="nameEs" bindValue="id">
                  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
                    {{item.nameEs | uppercase}}
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.nameEs}}
                  </ng-template>
                </ng-select>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #singleScreen>
  <div class="row container-fluid justify-content-around ">
    <button type="button" class=" col-3 btn btn-primary mt-5 rounded-0 border-0 text-light mx-2 px-0"
      (click)="onCountrySelect(country)" *ngFor="let country of (countries$ | async)">
      {{country.nameEn}}
    </button>
  </div>
  <div class="select-container row container-fluid justify-content-lg-center m-0 p-0">
    <div class="card col-12 h-100 px-0 mx-0" id="container">
      <div class="card-header">
        <button class="btn btn-secondary rounded-0" data-dismiss="modal" (click)="saveDivisions()">Accept these
          regions</button>
      </div>
      <div class="card-body w-100">
        <ng-select [multiple]="true" [items]="countryDivisions" groupBy="divisions" [selectableGroup]="true"
          [selectableGroupAsModel]="false" [(ngModel)]="selectedDivisions" placeholder="Select your regions"
          [closeOnSelect]="false" bindLabel="nameEs" bindValue="id">
          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
            {{item.nameEs | uppercase}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.nameEs}}
          </ng-template>
        </ng-select>

      </div>

    </div>
  </div>
</ng-template>






<!-- {{countries$ | async | json}} -->
