.nav-item.active{
  background-color: #2787C4;
  color: white;
  margin-bottom: 0;
  padding-bottom: 0;
  border-width: 0;
}

.nav{
  border-bottom-width: 10px;
  border-bottom-color: #2787C4;
}

.nav-item{
  background-color: #bebcbe;
  color: #605c61;
  margin-bottom: 10px;
}

.navitem-container{
  /* background-image: url(../../../assets/img/img-blur10-opacity50.png); */
  background-size:65%;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: rgba(255,255,255,1); */
  height: 36.5rem;
}

/*Overview 768px*/
@media only screen and (max-width: 767.99px) {
  .nav-tabs{
    margin-right: 4px !important;
    margin-left: 4px !important;
  }
  #nav-dashboard-tab, #nav-candidates-tab, #nav-myprojects-tab{
    font-size: 0.8rem;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 2px !important;
  }
}

/*Overview 340px*/
@media screen and (max-width: 339.98px) {
  #nav-dashboard-tab, #nav-candidates-tab, #nav-myprojects-tab{
    padding: 0.3rem;
  }
}
