
<div class="select-container row container justify-content-lg-center pt-5">
  <div class="card col-4" style="height: 500px;" id="container">
    <div class="card-body">

      <ng-select [items]="services"
      [multiple] = "true"
      [closeOnSelect]="false"
      [hideSelected] = "true"
      bindLabel="descriptionEs"
      bindLabel="descriptionEs"
      bindValue="id"
      [searchFn]="customSearchFn"
      (search)="onSearch($event)"
      [(ngModel)]="selectedServices">


<ng-template ng-option-tmp let-item="item">
{{item.descriptionEs}} <br/>
<small>{{item.keywords[0]}} | {{item.keywords[1]}}</small>
</ng-template>
</ng-select>
    </div>
  </div>
</div>


      <br>
      <small>Selected: {{selectedServices | json}}</small>


<!-- {{countries$ | async | json}} -->
