.column-title{
    color:#605c61;
    text-align: left;
}

.user-name{
    color:#2888C7;
    font-weight: light;
    font-size: 1rem;
    margin-left: 1rem;
}

.comment-text{
    font-size: small;
}

.reply-btn{
    color: white;
    background-color:#2888C7;
}

.reply-btn:hover{
    color: #605c61;
}

/*Overview 768px*/
@media only screen and (max-width: 767.99px) {
#comment-card-col{
    padding: 0;
}
#comment-card-textcol{
    padding-right: 0;
 }
.column-title{
    margin-left: 0 !important;
}
.date-text{
    font-size: 0.8rem !important;
}
}



