<div class="col-12">
    <h6 class="column-title my-3 ml-3">Comments</h6>
</div>
<div class="card col-12 mt-2 rounded-0 border-0" id="comment-card-col">
    <div class="row container-fluid mt-2" id="comment-card-textcol">
        <div class="col text-left">
            <p class="user-name ml-0">
                Jason Young</p>
        </div>
        <div class="col-7 col-md-9 text-right">
            <p class="date-text">Monday June 21 14:30Hrs</p>
        </div>
        <div class="col-12">
            <p class="comment-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control rounded-0" placeholder="Reply Comment">
                <div class="input-group-append">
                    <button class="btn reply-btn rounded-0" type="button">
                        <i class="fab fa-telegram-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- Lista de Comentarios -->
<div class="card col-12 mt-2 rounded-0 border-0" id="comment-card-col">
    <div class="row container-fluid mt-2" id="comment-card-textcol">
        <div class="col text-left">
            <p class="user-name ml-0">
                Chris Martins</p>
        </div>
        <div class="col-7 col-md-9 text-right">
            <p class="date-text">Monday June 21 14:30Hrs</p>
        </div>
        <div class="col-12">
            <p class="comment-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control rounded-0" placeholder="Reply Comment">
                <div class="input-group-append">
                    <button class="btn reply-btn rounded-0" type="button">
                        <i class="fab fa-telegram-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>