<div class="row container-fluid justify-content-center alert-danger" *ngIf="!opSucceed">
  Operation Error!!
</div>

<div class="row justify-content-center">
  <div class="col-md-8 text-center mt-0">
    <button type="button" (click)="addBriefcase()" class="btn btn-link" id="btn-modal-bc" data-toggle="modal"
      data-target="#exampleModalCenter">
      <!-- <img src="assets/img/breif_add.png" class="bc-img" alt="Profile Picture" style="width: 85%;" /> -->
      <svg class="svg-add-bc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92.36 88.73">
        <defs>
          <style>
            .cls-1 {
              fill: #2982c1;
            }

            .cls-2 {
              fill: #fff;
            }
          </style>
        </defs>
        <title>Click to Add</title>
        <g id="Capa_2" data-name="Capa 2">
          <g id="Capa_1-2" data-name="Capa 1">
            <circle class="cls-1" cx="80.43" cy="71.74" r="11.93" />
            <g id="Layer_2" data-name="Layer 2">
              <g id="Layer_1-2" data-name="Layer 1-2">
                <path class="cls-1"
                  d="M70.21,31.22V46.09L48.4,49.49a22.57,22.57,0,0,1,.42-2.72c.25-1,.66-1.85,1-2.77.25-.69,0-1-.68-1.06H39.71c-.73,0-1,.35-.7,1.05.33.93.75,1.83,1,2.77a24.31,24.31,0,0,1,.43,2.74L18.63,46.09V31.22Z" />
                <path class="cls-1"
                  d="M20.55,64.14V47.69l19.76,3.08v3c0,.77.22,1,1,1h6.23c.77,0,1-.22,1-1,0-1,0-1.89,0-2.83a.7.7,0,0,1,.06-.19L68.28,47.7V64.14Z" />
                <path class="cls-1" d="M20.53,67.67V65.53H68.26v2.15Z" />
                <path class="cls-1"
                  d="M55.65,29.86H52.7a8.3,8.3,0,0,0-16.54,0H33.21a10.8,10.8,0,0,1,4.56-8.34,10.74,10.74,0,0,1,12.12-.75A11,11,0,0,1,55.65,29.86Z" />
                <path class="cls-1" d="M47.2,53.46H41.65V48.12H47.2Z" />
                <path class="cls-1"
                  d="M44.43,88.73a44.3,44.3,0,1,1,31.42-13A44.43,44.43,0,0,1,44.43,88.73Zm0-82.79A38.36,38.36,0,1,0,82.79,44.3,38.39,38.39,0,0,0,44.43,5.94Z" />
              </g>
            </g>
            <polygon class="cls-2"
              points="83.94 71.24 80.93 71.24 80.93 68.23 79.94 68.23 79.94 71.24 76.93 71.24 76.93 72.23 79.94 72.23 79.94 75.25 80.93 75.25 80.93 72.23 83.94 72.23 83.94 71.24" />
          </g>
        </g>
      </svg>
    </button>
    <h6 class="stepper-text" style="color: #6c757d;font-weight: bold;">Add your Works!</h6>
  </div>
</div>

<div class="row row-cols-2 " id="bc-row">
  <!-- <div class="col-3 mx-auto mt-3 text-center bc-card-col" > -->
    <app-briefcase-card class="img img-briefcase col" *ngFor="let briefcase of briefcases; let i=index"
    [params]="{id: briefcase.id, picture: parsePictureUrl(briefcase.pictures[0]), verified: false}"
    >
  </app-briefcase-card>
    <!-- <div class="card my-0" style="border:transparent">
      <div class="row" style="background-color: #2982c1;margin-left: 0;margin-right: 0;">
        <div class="col-12 text-center my-0" style="background-color: #2982c1;">
          <i class="fas fa-briefcase my-2" style="color: #fff;font-size: 1.5rem;"></i>
          <hr style="border: 0.5px solid white;margin-bottom: 0; margin-top: 0;">
        </div>
      </div>
      <div class="row" style="background-color: #2982c1;margin-left: 0;margin-right: 0; padding-bottom: 0.2rem;">
        <div class="col-6 text-center mt-0" style="padding:0">
          <button class="btn btn-link" (click)="editBriefcase(i)" data-toggle="modal" data-target="#exampleModalCenter">
            <i class="fas fa-eye" style="color: #fff;font-size: 0.75rem;"></i>
          </button>
        </div>
        <div class="col-6 text-center mt-0" style="padding:0">
          <button class="btn btn-link" (click)="selectBriefcaseToDelete(i)" data-toggle="modal"
            data-target="#deleteBriefcaseModal">
            <i class="fas fa-trash-alt" style="color: #fff;font-size: 0.75rem;"></i>
          </button>
        </div>
      </div>
      <div class="card-footer" style="padding:0; background-color: white;">
        <div class="row" style="margin: 0; border: 0;">
          <div class="col-12 m-0 p-0 text-left">
            <style>
              .ellipsis {
                text-overflow: ellipsis;
              }
            </style>
            <p class="overflow ellipsis my-0 py-0" style="font-weight: bold;font-size: 0.75rem;color:#6c757d">
              {{briefcase.description}}</p>
          </div>
          <div class="col-12 m-0 p-0 text-left" *ngIf="briefcase.enddate">
            <small class="text-muted" style="font-size: 0.75rem;">{{briefcase.enddate}}</small>
          </div>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered rounded-0 mt-0" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header py-1 rounded-0" style="background-color:#2985c4;color:white;">
        <p class="modal-title" id="exampleModalCenterTitle">Add a Briefcase</p>
        <button type="button" #close class="close" style="color:white;" data-dismiss="modal" aria-label="Close"
          (click)="resetForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row" style="background-color:#f7f8f9; margin: 0rem;">
        <div class="col-md-12 rounded-0 p-0">
          <div class="modal-body mt-0 py-3 px-0" style=" background-color: white; padding: 2rem;">
            <form [formGroup]="briefcaseEditForm">
              <div class="mb-3">
                <div class="modal-body mt-0 p-0">
                  <div class="row m-0 p-0 container-fluid">
                    <div class="mb-3 my-0 py-0 col-12">
                      <input
                        [ngClass]="briefcaseEditForm.get('description').invalid && (briefcaseEditForm.get('description').dirty || briefcaseEditForm.get('description').touched) ? 'is-invalid' : '' "
                        class="form-control input-lg rounded-0 font-weight-bold" formControlName="description" id="briefcaseTitle"
                        placeholder="Enter a title for your Job" required>
                        <!-- <label style="font-weight: 100;" for="briefcaseTitle">Enter a title for your Job</label> -->
                      <div class="invalid-feedback">
                        Please enter a title.
                      </div>
                    </div>
                  </div>
                  <div class="row row-cols-2 row-cols-md-3 container rounded-0 scroll-host p-2 m-0"
                    style="height: 400px;" id="img-container">
                    <div class="col-6 col-md-4 card image-card w-md-25 w-50 p-0"
                      *ngFor="let img of (pictures$ | async) as pictures; index as i;">
                      <div class="card-body p-0" style="height: 100px;">
                        <img [src]="img" alt="{{briefcaseEditForm.value.description}}" class="img "
                          style="object-fit: cover;">
                      </div>
                    </div>
                    <div class="col-6 col-md-4 card text-center image-card w-md-25 w-50 p-0" style="height: 100px;">
                      <label for="file-input" id="image-upload">
                        <div class="card-body py-4 px-0" style="height: 100px; background-color: rgb(108, 117, 125);"
                          id="addImageCard">
                          <span class="text-white">
                            <i class="fas fa-plus-circle"></i>
                            <p>Upload images</p>
                          </span>
                        </div>
                        <input id="file-input" #pictureInput type="file" multiple="true"
                          (change)="uploadPicture($event)" hidden accept="image/*" (click)="pictureInput.value=null;">
                      </label>
                    </div>
                  </div>
                  <div class="col-12">

                    <div class=" mb-3 my-0 py-0">
                      <!-- <label style="font-weight: 100;" for="comments">Enter some comments</label> -->
                      <textarea class="form-control rounded-0" formControlName="comments" id="comments"
                        placeholder="Enter some comments"></textarea>
                    </div>
                    <div class="row my-0 py-0">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <!-- <label for="validationTextarea">Start Date</label> -->
                          <div class="input-group">
                            <input class="form-control rounded-0" formControlName="startDate" id="validationTextarea"
                              placeholder="Start Date" ngbDatepicker #startDatePicker="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar rounded-0"
                                (click)="startDatePicker.toggle()" type="button">
                                <i class="far fa-calendar-alt fa-lg"></i>
                              </button>
                            </div>
                          </div>
                          <div class="invalid-feedback">
                            Please enter a date.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <!-- <label for="validationTextarea">End Date</label> -->
                          <div class="input-group">
                            <input class="form-control rounded-0" formControlName="endDate" id="validationTextarea"
                              placeholder="End Date" ngbDatepicker #endDatePicker="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar rounded-0"
                                (click)="endDatePicker.toggle()" type="button">
                                <i class="far fa-calendar-alt fa-lg"></i>
                              </button>
                            </div>
                          </div>
                          <div class="invalid-feedback">
                            Please enter a date.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-12 my-0 py-0 text-right"> -->
                <div class="row justify-content-end">
                  <div class="col-6">
                  </div>
                  <div class="col-8 col-sm-6 btn-group justify-content-between px-4">
                    <button type="button" class="btn col-6 btn btn-previous rounded-0 mr-2"
                      style="background-color: #BFBDBE; color: #2688C6;" data-toggle="tooltip" data-dismiss="modal"
                      title="Close" (click)="cancelEdit()">CLOSE</button>
                    <ng-container *ngIf="briefcaseEditForm.invalid; else validButton">
                      <button type="button" class="btn col-6 btn btn-edit rounded-0"
                        style="color: white; background-color: #2688C6;" data-toggle="tooltip" title="Save" disabled>
                        SAVE
                      </button>
                    </ng-container>
                    <ng-template #validButton>
                      <button type="button" class="btn col-5 btn btn-edit rounded-0"
                        style="color: white; background-color: #2688C6;" data-toggle="tooltip" title="Save"
                        (click)="saveBriefCase(); close.click();">
                        SAVE
                      </button>

                    </ng-template>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- closeMessagge Modal -->
<div class="modal" id="msgModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-tittle">Confirm to Skip</h2>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want to skip this process?
          In other moment you need to be able to fill
          this form.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="exit()" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade rounded-0" id="deleteBriefcaseModal" tabindex="-1" role="dialog"
  aria-labelledby="deleteBriefcaseModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered rounded-0" role="document">
    <div class="modal-content rounded-0 border-0">
      <div class="modal-header rounded-0" style="background-color: #2888C7; color: white;">
        <h5 class="modal-title" id="exampleModalCenterTitle">Delete Briefcase</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body rounded-0">
        Are you shure you want to delete this briefcase?
      </div>
      <div class="modal-footer rounded-0">
        <button type="button" class="btn btn-previous rounded-0" data-dismiss="modal" style="background-color: #BFBDBE;"
          (click)="cancelDelete()">Decline</button>
        <button type="button" class="btn btn-send rounded-0" data-dismiss="modal"
          style="background-color: #2888C7;color: white;" (click)="deleteBriefcase()">Accept</button>
      </div>
    </div>
  </div>
</div>
