.container-fluid{
  /* margin-bottom: 2rem; */
}

#briefcases-row{
  width: fit-content;
}

.display-3{
  margin-left: 1rem;
  font-size: 2.5rem;
  line-height: 2.2;
}

.card{
  margin-top: 0.5rem;
  border-radius: 0;
  border-color: white;
}

.mb-5, .my-5 {
  margin-bottom: 1rem !important;
}

.col-md-7{
  margin-left: 2rem;
}

.text-center{
  margin-top: 2rem;
}

.figure-img{
  max-width: 93%;
}

#row-id{
  width: 22rem;
}

.col{
  padding-left: 0rem;
}