<div class="container">
  <div class="row justify-items-around" id="briefcases-row">
    <div class="col mx-auto text-center" *ngFor="let briefcase of briefcases">
      <div class="alert alert-primary rounded-0 mx-auto alert-dismissible fade show" role="alert">
        <strong>{{briefcase.description}}</strong>
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Adding a Briefcase</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="modal-body">
            <form [formGroup]="briefcaseEditForm">
              <div class="mb-3">
                <label for="validationTextarea">Title</label>
                <input
                  [ngClass]="briefcaseEditForm.get('title').invalid && (briefcaseEditForm.get('title').dirty || briefcaseEditForm.get('title').touched) ? 'is-invalid' : '' "
                  class="form-control" formControlName="title" id="validationTextarea" placeholder="Title" required>
                <div class="invalid-feedback">
                  Please enter a title.
                </div>
              </div>

              <div class="mb-3">
                <label for="validationTextarea">Description</label>
                <input
                  [ngClass]="briefcaseEditForm.get('description').invalid && (briefcaseEditForm.get('description').dirty || briefcaseEditForm.get('description').touched) ? 'is-invalid' : '' "
                  class="form-control" formControlName="description" id="validationTextarea"
                  placeholder="Short Description" required>
                <div class="invalid-feedback">
                  Please enter a description.
                </div>
              </div>

              <div class="mb-3">
                <label for="validationTextarea">Comments</label>
                <textarea class="form-control" formControlName="comments" id="validationTextarea"
                  placeholder="Enter some comments"></textarea>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="validationTextarea">Start Date</label>
                    <div class="input-group">
                      <input
                        [ngClass]="briefcaseEditForm.get('startDate').invalid && (briefcaseEditForm.get('startDate').dirty || briefcaseEditForm.get('startDate').touched) ? 'is-invalid' : '' "
                        class="form-control" formControlName="startDate" id="validationTextarea"
                        placeholder="yyyy-mm-dd" ngbDatepicker #startDatePicker="ngbDatepicker" required>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="startDatePicker.toggle()"
                          type="button">
                          <i class="far fa-calendar-alt fa-lg"></i>
                        </button>
                      </div>
                    </div>
                    <div class="invalid-feedback">
                      Please enter a date.
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="validationTextarea">End Date</label>
                    <div class="input-group">
                      <input
                        [ngClass]="briefcaseEditForm.get('endDate').invalid && (briefcaseEditForm.get('endDate').dirty || briefcaseEditForm.get('endDate').touched) ? 'is-invalid' : '' "
                        class="form-control" formControlName="endDate" id="validationTextarea" placeholder="yyyy-mm-dd"
                        ngbDatepicker #endDatePicker="ngbDatepicker" required>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="endDatePicker.toggle()"
                          type="button">
                          <i class="far fa-calendar-alt fa-lg"></i>
                        </button>
                      </div>
                    </div>
                    <div class="invalid-feedback">
                      Please enter a date.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="validationTextarea">Profession</label>
                <select
                  [ngClass]="briefcaseEditForm.get('profession').invalid && (briefcaseEditForm.get('profession').dirty || briefcaseEditForm.get('profession').touched) ? 'is-invalid' : '' "
                  class="custom-select" formControlName="profession" required>
                  <option value="" disabled>Select a profession...</option>
                  <option *ngFor="let prof of professions" [value]="prof.id">
                    {{prof.descriptionEn}}
                  </option>
                </select>
                <div class="invalid-feedback">Please enter a profession </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center">
            <figure class="figure">
              <img src='../../../assets/img/defaultProfile.png' class="figure-img img-thumbnail" alt="Upload Pictures">
            </figure>
            <h6>Upload Pictures</h6>
            <input type="file" class="form-control">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveBriefCase()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="msgModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-tittle">Confirm to Skip</h2>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want to skip this process?
          In other moment you need to be able to fill
          this form.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="exit()" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>
