<div class="container-fluid">
  <div class="row" style="border-bottom: 1px solid #2888C7; height:3rem;">
    <div class="col-2 col-md-4 mx-0">
      <div class="row no-gutters">
        <button type="button" class="btn action-btn rounded-0" id="goback-btn" data-toggle="tooltip" title="Go Back"
          alt="goBack" (click)="backToList()"><i class="fas fa-chevron-circle-left"></i>
        </button>
        <p class="user-name text-left pt-2  align-self-end">
          {{project.name}}
        </p>
      </div>

    </div>
    <div class="col text-right">
      <ng-container *ngIf="(project.state === 'NEW' && role === 'SERVICE_PROVIDER'); else playTemplate">
        <button class="btn col-3 col-md-2 mt-1 btn-space px-0 py-1 text-uppercase" id="apply-btn" [disabled]="!canApply"
          type="button" style=" background-color: #2888C7; color: white; border-radius: 0; width:6.25rem"
          data-toggle="modal" data-target="#confirmActionModal" (click)="actionSelected = 'Apply'">
          <i class="fas icon-aplicar"></i>
          Apply
        </button>
        <button class="btn col-3 col-md-2 mt-1 btn-space px-0 py-1 text-uppercase" id="start-btn" type="button"
          [disabled]="!canStart" style=" background-color: #a1d173; color: white; border-radius: 0; width:6.25rem"
          data-toggle="modal" data-target="#confirmActionModal" (click)="actionSelected = 'Start'">
          <i class="fas icon-comenzar"></i>
          Start
        </button>
      </ng-container>
      <ng-template #playTemplate>
        <button class="btn col-3 col-md-2 mt-1 btn-space px-0 py-1 text-uppercase" id="edit-btn"
          *ngIf="role === 'CLIENT' && project.state === 'NEW'" type="button" data-toggle="tooltip" title="Edit Project" alt="Edit"
          style=" background-color: #2888C7; color: white; border-radius: 0; width: 6.25rem;"
          (click)="onEditProject()">
          <i class="fas icon-user-edit" style="color:white;"></i>
          Edit
        </button>
        <button class="btn col-3 col-md-3 mt-1 btn-space text-uppercase px-0 py-1" id="finish-prov-btn" type="button"
          *ngIf="(project.state === 'PROGRESS' || project.state === 'NEW') && role === 'SERVICE_PROVIDER'"
          style=" background-color: #f99d6e; color: white; border-radius: 0; width:6.25rem;" data-toggle="modal"
          data-target="#finishProjectModal">
          <i class="fab icon-terminado"></i>
          Finish
        </button>
        <button class="btn col-3 col-md-3 mt-1 btn-space text-uppercase px-0 py-1" id="finish-client-btn" type="button"
          *ngIf="(project.state === 'PROGRESS' || project.state === 'NEW') && role === 'CLIENT'"
          style=" background-color: #f99d6e; color: white; border-radius: 0; width:6.25rem;"
          data-toggle="modal" data-target="#confirmActionModal" (click)="actionSelected = 'Finish'">
          <i class="fab icon-terminado"></i>
          Finish
        </button>
        <button class="btn col-3 col-md-2 mt-1 btn-space px-0 py-1 text-uppercase" id="cancel-btn" type="button"
          *ngIf="project.state === 'PROGRESS' || project.state === 'NEW'"
          style=" background-color: #f15d5d; color: white; border-radius: 0; width: 6.25rem;"
          data-toggle="modal" data-target="#confirmActionModal" (click)="actionSelected = 'Cancel'">
          <i class="fas icon-cancelados"></i>
          Cancel
        </button>
        <button class="btn col-3 col-md-2 mt-1 btn-space px-0 py-1 text-uppercase" id="finish-btn" type="button"
          data-toggle="tooltip" title="Add to your Briefcase"
          *ngIf="project.state === 'FINISH' && role === 'SERVICE_PROVIDER'"
          style=" background-color: #2888C7; color: white; border-radius: 0;" (click)="onCreateBriefcase()">
          <span class="icon-briefcase" style="font-size: larger; width:10rem"></span>&nbsp;
          Storage
        </button>
        <div class="modal fade rounded-0" id="finishProjectModal" tabindex="-1" role="dialog"
          aria-labelledby="finishProjectModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered rounded-0" role="document">
            <div class="modal-content rounded-0 border-0">
              <div class="modal-header rounded-0" style="background-color: #2888C7; color: white;">
                <label>Finish Project</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body rounded-0">
                <p class="text-left">
                  Add the finished project execution to your Briefcase.
                  The job will be sent to your client, for asking review and valoration.
                  Once the client gives you the review, the jobb will appear as a verified Job,
                  wich increase your credibility and chances to get more jobs.
                </p>
                <p class="text-left">
                  You can add the project right now, or you can do it later, by going to the project in the FINISH
                  section of
                  MY PROJECTS tab.
                </p>
              </div>
              <div class="modal-footer rounded-0">
                <button type="button" class="btn btn-previous rounded-0" data-dismiss="modal"
                  style="background-color: #bfbdbe;color: #2880a9;" (click)="onFinishProjectExecution()">Later</button>
                <button type="button" class="btn btn-send rounded-0" data-dismiss="modal"
                  style="background-color: #2888C7;color: white;" (click)="onCreateBriefcase()">Add Now</button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row mt-3 mx-2">
    <div class="col-md-6 px-0">
      <div class="col-12 column-title-col">
        <h6 class="column-title my-3">Project Summary</h6>
      </div>
      <div class="card border px-0 mb-5 mb-md-3" style="background-color: #f1f1f1; color:#605c61;">
        <div class="col-12">
          <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
            {{project.name}}
          </p>
          <hr>
          <div class="col-12">
            <p style="font-size:medium">
              {{project.description}}
            </p>
          </div>
        </div>
        <div class="col-12">
          <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
            Required Locations
          </p>
          <hr class="border-bottom mt-0">
        </div>
        <div class="col-12">
          <div style="font-size:small">
            <ul style="padding-left: 0;">
              <li *ngFor="let division of divisionsName">
                {{division}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
            Required Services
          </p>
          <hr class="border-bottom mt-0">
        </div>
        <div class="col-12">
          <div style="font-size:small">
            <ul style="padding-left: 0;">
              <li *ngFor="let service of servicesName">
                {{service}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="row container-fluid m-0 p-0">
            <div class="col-12 col-md-6 mx-0 px-0">
              <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
                Creation Date
              </p>
              <hr class="border-bottom mt-0">
              <div style="font-size:small">
                <ul style="padding-left: 0;">
                  <li>
                    {{project.creationDate}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-6 mx-0 px-0" *ngIf="!!project.startDateExpected">
              <p class="project-title text-left my-2" style="color:#605c61; font-weight: light; font-size: 1.2rem;">
                Preferred Start Date
              </p>
              <hr class="border-bottom mt-0">
              <div style="font-size:small">
                <ul style="padding-left: 0;">
                  <li>
                    {{project.startDateExpected}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="project.interestedProfiles != null; else notProjectOwner" class="col-md-6 mb-3 mb-5 mb-md-3 candidates-col">
      <div class="col-12 column-title-col">
        <h6 class="column-title my-3">Interested Candidates</h6>
      </div>
      <app-user-card-list [users]="project.interestedProfiles" (cardClicked)="onUserCardClicked($event)">
      </app-user-card-list>
    </div>
    <ng-template #notProjectOwner>
      <div class="col-md-6" id="provider-comments-col">
        <app-project-comments></app-project-comments>
      </div>
    </ng-template>
  </div>
  <ng-container *ngIf="project.interestedProfiles != null">
    <div class="row">
      <div class="col-12 mb-3">
        <app-project-comments></app-project-comments>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal fade rounded-0" id="confirmActionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered rounded-0" role="document">
    <div class="modal-content rounded-0 border-0">
      <div class="modal-header rounded-0" style="background-color: #2888C7; color: white;">
        <label>Action Confirmation</label>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="actionSelected ==='Apply'" class="modal-body rounded-0">
        Are you sure you want to Apply to the project "{{project.name}}".
      </div>
      <div *ngIf="actionSelected ==='Start'" class="modal-body rounded-0">
        Are you sure you want to Start the project "{{project.name}}".
      </div>
      <div *ngIf="actionSelected ==='Cancel'" class="modal-body rounded-0">
        Are you sure you want to Cancel the project "{{project.name}}".
      </div>
      <div *ngIf="actionSelected ==='Finish'" class="modal-body rounded-0">
        Are you sure you want to Finish the project "{{project.name}}".
      </div>
      <div class="modal-footer rounded-0">
        <button type="button" class="btn btn-previous rounded-0" data-dismiss="modal"
          style="background-color: #bfbdbe;color: #2880a9;">Cancel</button>
        <button type="button" class="btn btn-send rounded-0" data-dismiss="modal"
          style="background-color: #2888C7;color: white;" (click)="selectProjectAction()">Accept</button>
      </div>
    </div>
  </div>
</div>
