.card{
    border-radius: 0;
}

.user-name{
    color:#2888C7;
    font-weight: light;
    font-size: 1.5rem;
}

.vl{
border-left: 1px solid #605c61;
/* height: 500px; */
}

.fa-chevron-circle-left{
  font-size: 1.25rem;
  color: #2888C7 !important;
}

.fa-chevron-circle-left:hover{
  color: #bebcbe !important;
}

.cancel-btn, .edit-btn{
  width: 1.25rem;
}

.cancel-btn:hover, .edit-btn:hover{
  fill: #605c61;
}


ul {
  display: block;
}

li {
  display: inline-block;
}

li::before {
  content: "\2022";
  margin: 0 4px 0px 8px;
}

.cancel-btn, .finish-btn{
  width: 1.25rem;
}

.cancel-btn:hover, .edit-btn:hover{
  fill: #605c61;
}

.btn-space{
  margin-right: 5px;
}

/*Overview 768px*/
@media only screen and (max-width: 767.99px) {
  #goback-btn{
    margin-top: 0.25rem;
  }
  .user-name{
    display: none;
  }
}
