.card{
    border-radius: 0;
}

.user-name{
    color:#2888C7;
    font-weight: light;
    font-size: 1.5rem;
}

.vl{
border-left: 1px solid #605c61;
/* height: 500px; */
}

.fa-chevron-circle-left{
  font-size: 1.25rem;
  color: #2888C7 !important;
}

.fa-chevron-circle-left:hover{
  color: #bebcbe !important;
}

.cancel-btn, .edit-btn{
  width: 1.25rem;
}

.cancel-btn:hover, .edit-btn:hover{
  fill: #605c61;
}


ul {
  display: block;
}

li {
  display: inline-block;
}

li::before {
  content: "\2022";
  margin: 0 4px 0px 8px;
}

.cancel-btn, .finish-btn{
  width: 1.25rem;
}

.cancel-btn:hover, .edit-btn:hover{
  fill: #605c61;
}

.btn-space{
  margin-right: 5px;
}

.column-title{
  color:black;
  text-align: left;
  font-size: 1.2rem;
}

/*Overview 768px*/
@media only screen and (max-width: 767.99px) {
  #goback-btn{
    margin-top: 0.25rem;
  }
  .user-name{
    display: none;
  }
  .candidates-col{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .column-title-col{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .container-fluid{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  #provider-comments-col{
    padding-left: 0;
    padding-right: 0;
  }
}

/*Overview 415px*/
@media only screen and (max-width: 414.99px) {
#apply-btn, #start-btn, #edit-btn, #finish-client-btn, #finish-prov-btn, #finish-btn, #cancel-btn{
  width: 5.50rem !important;
  margin-top: 0.5rem !important;
  font-size: 0.85rem;
}
}

/*Overview 375px*/
@media only screen and (max-width: 374.99px) {
  #apply-btn, #start-btn, #edit-btn, #finish-client-btn, #finish-prov-btn, #finish-btn, #cancel-btn{
    width: 5.25rem !important;
    font-size: 0.8rem;
  }
}