.card-hover .reveal {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

.card:hover{
    box-shadow: 0 11px 11px 0 rgba(0, 0, 0,.16);
    transform: translateY(-2px);
    transform: translateX(5px);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 0;
    border-color: #bcbebc;
    transition: 200ms;
}

.card-hover:hover .reveal {
    /* height: auto; */
    visibility: visible;
    opacity: 10;
    transition: opacity 1s ease;
}

.card-selected{
  box-shadow: 0 11px 11px 0 rgba(0, 0, 0,.16);
  transform: translateY(-2px);
  transform: translateX(5px);
  border-width: 1.5px;
  border-style: solid;
  border-radius: 0;
  border-color: #bcbebc;
  transition: 200ms;
  visibility: visible;
  opacity: 10;
  transition: opacity 1s ease;
}

.card-selected .reveal{
    visibility: visible;
    opacity: 10;
    transition: opacity 1s ease;
}

.vertical-align{
    align-items: center;
}

.fas:hover{
    color: #2888C7 !important;
}

.project-title{
    color:#2888C7;
    font-weight: light;
    font-size: 1.2rem;
}

.badge-primary{
    background-color: #2888C7;
    color: white;
    font-size: 0.75rem;
    margin-left: 0.5rem;
    position: sticky;
    border-radius: 0;
}

/*Overview 768px*/
@media screen and (max-width: 767.98px) {
    .btn-icon-eye:hover{
        transition: none !important;
        transform: none !important;
    }
    .reveal{
        visibility: visible !important;
        opacity: 1 !important;
        margin-top: -1rem;
    }
    .card-hover:hover .reveal {
        transition: none !important;
    }
    .card-hover{
        transition: none !important;
        transform: none !important;
    }
    .card:hover{
        box-shadow: none !important;
        transition: none !important;
        transform: none !important;
    }
    .btn-icon-eye{
        visibility: visible !important;
    }
    .project-title{
        font-size: 1rem;
    }
    /* #applied-min{
    display: none !important;
    } */
}


/*Overview 475px*/
@media screen and (max-width: 474.98px) {
    .badge{
        font-size: 0.6rem !important;
        padding-top: 0 !important;
    }
    /* #applied-badge{
        display:none !important;
    }
    #applied-min{
        display: inline !important;
    } */
    .project-title{
        font-size: 0.9rem;
    }
}