<div class="card card-hover col-12" style="background-color: white;border-radius: 0;" (click)="onClick()">
  <div class="row vertical-align">
    <div class="card-select col-1">
      <input type="checkbox" value="card-select">
    </div>
    <div class="col-8 px-1">
      <p class="project-title text-left my-2" style="color:#2888C7; font-weight: light; font-size: 1.2rem;">
        {{project.name}}
      </p>
    </div>
    <div class="col-3 px-0">
      <div class="reveal">
        <button type="button" class="btn mx-2 px-1" alt="View" style="border-radius: 0;"><i class="fas fa-eye"
            style="color: #bebcbe;"></i></button>
        <button type="button" class="btn px-1" style="border-radius: 0;"><i class="fas fa-edit"
            style="color: #bebcbe;"></i></button>
        <button type="button" class="btn mx-2 px-1" style="border-radius: 0;"><i class="fas fa-trash"
            style="color: #bebcbe;"></i></button>
      </div>
    </div>
  </div>
</div>
