<div class="card card-hover col-12" style="margin-bottom: 0.3rem; background-color: white;border-radius: 0; cursor: pointer;"
[ngStyle]="{'border-left':getColor()}" [ngClass]="isPressed ? 'card-selected' : ''">
  <!-- <div [ngStyle]="{'border-left':getColor()}"class="row vertical-align"> -->
  <div class="row vertical-align">
    <!-- <div class="card-select col-1">
      <input type="checkbox" [(ngModel)]="cardSelected" (change)="onCheck($event)">
    </div> -->
    <div class="col-8 px-1" (click)="onClick()">
      <p class="project-title my-1 ml-2" style="color:#2888C7; font-weight: light; font-size: 1.2rem;">
        {{project.name}}
      </p>
      <div class="row">
        <div class="col">
          <p class="text-mute ml-2 mb-1" style="color:#bebcbe; font-weight: light; font-size: 0.8rem;">
            {{project.startDateExpected}}</p>
        </div>
      </div>
    </div>
    <div class="col-4 px-2 text-right" *ngIf="cardMode === 'WIDE'">
      <div  class="reveal">
        <button type="button" class="btn mx-2 px-1 rounded-0" alt="Edit" (click)="onEditProject()"><i class="fas fa-edit"
            style="color: #bebcbe;"></i></button>
        <button type="button" class="btn mx-2 px-1 rounded-0" alt="Trash"><i class="fas fa-trash"
            style="color: #bebcbe;"></i></button>
      </div>
    </div>
  </div>
</div>
