<div class="col-12">
    <h5 class="column-title my-3">Interested Candidates</h5>
</div>
<div class="card col-12 mt-2 p-0">
    <div class="row container-fluid">
        <div class="col-1">
            <img src="../../../assets//img/lawyer.png" class="rounded mt-2" alt="" style="max-width: 100%;border-radius: 50%!important;">
        </div>
        <div class="col p-0">
            <p class="user-name text-left mt-2" style="color:#2888C7; font-weight: light; font-size: 1.2rem;">
                Alan Allison</p>
        </div>
        <div class="col-3 text-right">
            <p class="date-text mt-2">21 June 2020</p>
        </div>
    </div>
</div>
<!-- PREVISUALIZACION DE UNA LISTA -->
<div class="card col-12 mt-2 p-0">
    <div class="row container-fluid">
        <div class="col-1">
            <img src="../../../assets//img/officer.png" class="rounded mt-2" alt="" style="max-width: 100%;border-radius: 50%!important;">
        </div>
        <div class="col mt-2 p-0">
            <p class="user-name text-left" style="color:#2888C7; font-weight: light; font-size: 1.2rem;">
                Betty Brown</p>
        </div>
        <div class="col-3 mt-2 text-right">
            <p class="date-text">21 June 2020</p>
        </div>
    </div>
</div>
<div class="card col-12 mt-2 p-0">
    <div class="row container-fluid">
        <div class="col-1">
            <img src="../../../assets//img/lawyer.png" class="rounded mt-2" alt="" style="max-width: 100%;border-radius: 50%!important;">
        </div>
        <div class="col mt-2 p-0">
            <p class="user-name text-left" style="color:#2888C7; font-weight: light; font-size: 1.2rem;">
                Charlie Crane</p>
        </div>
        <div class="col-3 mt-2 text-right">
            <p class="date-text">21 June 2020</p>
        </div>
    </div>
</div>

