<div class="container container-ep-component bg-faded py-4">
  <div class="row justify-content-center" id="edit-profile-container2">
    <div class="col-8 container-col">
      <form [formGroup]="editProfileForm">
        <div class="accordion" id="accordionExample">
          <div class="card tittle-profile-card" style="border-radius: 0;">
            <div class="card-header" id="headingMain">
              <div class="row">
                <div class="col-10">
                  <label style="color: white;">
                    Edit Profile
                  </label>
                </div>
                <div class="col-2 btn-collapse-col">
                  <button type="button" class="close" aria-label="Close" style="color: white;" data-toggle="modal"
                    data-target="#closeModal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="container container-ep-form">
            <div class="container container-col-bar">
              <div class="card" id="section-card">
                <div class="card-header card-header-collapse" id="headingOne" data-toggle="collapse"
                  data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <div class="row">
                    <div class="col-9">
                      <p class="text-left">General Information</p>
                    </div>
                    <div class="col-3 text-right">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                      <!-- <i class="fa fa-angle-up" aria-hidden="true"></i>                       -->
                    </div>
                  </div>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-6">
                          <label class="form-text" for="username">
                            Username:
                          </label>
                          <input type="text" class="form-control rounded-0" id="username" formControlName="username">
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label class="form-text" for="email">
                              Email:
                            </label>
                            <input type="email" class="form-control rounded-0" id="email" formControlName="email">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-12">
                            <input type="radio" class="form-check-input" name="accountType"
                              formControlName="accountType" value="PERSONAL">
                            <label for="accountName" class="form-check-label">Personal Account</label>
                            <input type="text" class="form-control rounded-0" formControlName="accountName"
                              id="accountName"
                              [ngClass]="editProfileForm.get('accountName').invalid && (editProfileForm.get('accountName').dirty || editProfileForm.get('accountName').touched) ? 'is-invalid' : '' "
                              placeholder="Name">
                            <div class="form-group ">
                              <br>
                              <input type="radio" class="form-check-input" name="accountType"
                                formControlName="accountType" value="COMPANY">
                              <label for="exampleInputEmail1" class="form-check-label">Company Account</label>
                              <input type="text" class="form-control rounded-0" formControlName="companyName"
                                id="exampleInputEmail1"
                                [ngClass]="editProfileForm.get('companyName').invalid && (editProfileForm.get('companyName').dirty || editProfileForm.get('companyName').touched) ? 'is-invalid' : '' "
                                placeholder="Company or Family Name">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" id="section-card">
                <div class="card-header card-header-collapse" id="headingTwo" data-toggle="collapse"
                  data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <div class="row">
                    <div class="col-9">
                      <p class="text-left">Picture</p>
                    </div>
                    <div class="col-3 text-right">
                      <i class="fa fa-angle-down" style="font-size:1.5rem;color:#2888C7"></i>
                    </div>
                  </div>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="collapseTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-12" style="text-align: center;">
                          <label for="pictureInput" class="">
                            <input class="" id="pictureInput" type="file" formControlName="profilePicture"
                              (change)="uploadPicture($event)" accept="image/*" />
                            <div class="m-0 p-0" *ngIf="defaultPicture; else profileHasPicture">
                              <span style="font-size: 120px; color: #2888C7" class="icon-user-image"></span>
                              <span class="add-badge">+</span>
                            </div>
                            <ng-template #profileHasPicture>
                              <img [src]="previewUrl" class="rounded-circle svg-add-user mx-auto d-block" alt="Profile Picture">
                              <span class="add-badge">+</span>
                            </ng-template>
                          </label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12" style="text-align: center;">
                          <h6 class="text-center" style="color: #6c757d;">Upload a picture or select an Avatar</h6>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3 mx-auto">
                          <img src="../../../assets/img/worker.png" class="avatar-img" alt="Responsive image"
                            (click)="uploadAvatar($event)">
                        </div>
                        <div class="col-3 mx-auto">
                          <img src="../../../assets/img/officer.png" class="avatar-img" alt="Responsive image"
                            (click)="uploadAvatar($event)">
                        </div>
                        <div class="col-3 mx-auto">
                          <img src="../../../assets/img/worker-2.png" class="avatar-img" alt="Responsive image"
                            (click)="uploadAvatar($event)">
                        </div>
                        <div class="col-3 mx-auto">
                          <img src="../../../assets/img/lawyer.png" class="avatar-img" alt="Responsive image"
                            (click)="uploadAvatar($event)">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="card" id="section-card">
                <div class="card-header card-header-collapse" id="headingThree" data-toggle="collapse"
                  data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <div class="row">
                    <div class="col-9">
                      <p class="text-left">Countries</p>
                    </div>
                    <div class="col-3 text-right">
                      <i class="fa fa-angle-down" style="font-size:1.5rem;color:#2888C7"></i>
                    </div>
                  </div>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="row" >
                    <div class="col-12">
                      <app-multi-select [popup]="true" [selectedDivisions]="activeProfile.divisions"
                        (selected)="onDivisionsSelect($event)">
                      </app-multi-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" id="section-card">
                <div class="card-header card-header-collapse" id="headingFour" data-toggle="collapse"
                  data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <div class="row">
                    <div class="col-9">
                      <p class="text-left">Services</p>
                    </div>
                    <div class="col-3 text-right">
                      <i class="fa fa-angle-down" style="font-size:1.5rem;color:#2888C7"></i>
                    </div>
                  </div>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        My Services
                        <ng-select [multiple]="true" [items]="countryDivisions" groupBy="divisions"
                          [selectableGroup]="true" [selectableGroupAsModel]="false" placeholder="Select your services"
                          [closeOnSelect]="false" bindLabel="nameEs" bindValue="id">
                          <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
                            {{item.nameEs | uppercase}}
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.nameEs}}
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" id="section-card">
                <div class="card-header card-header-collapse" id="headingFive" data-toggle="collapse"
                  data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  <div class="row">
                    <div class="col-9">
                      <p class="text-left">Curriculum Vitae</p>
                    </div>
                    <div class="col-3 text-right">
                      <i class="fa fa-angle-down" style="font-size:1.5rem;color:#2888C7"></i>
                    </div>
                  </div>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">

                        <div class="row justify-content-center">
                          <div class="col-12">
                            <div class="form-group row pt-5 mx-auto">
                              <label for="curriculumDescription" style="color: #6c757d;">Curriculum Description!</label>
                            </div>
                          </div>
                          <div class="row justify-content-center">
                            <div class="col-9 pr-0">
                              <label for="curriculumLabel" id="curriculumLabel">
                                Upload File
                              </label>
                            </div>
                            <div class="col-3 pl-0">
                              <label for="curriculumUpload" id="curriculumUpload">
                                <div class="upload-btn-wrapper">
                                  <button class="btn-uploadcv"><i class="far fa-folder fa-3x"></i></button>
                                  <input type="file" name="myfile" accept="pdf/*" formControlName="curriculum"
                                    class="form-control-file" (change)="uploadCV($event)" />
                                </div>
                              </label>
                            </div>
                          </div>
                        </div>




                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" id="section-card">
                <div class="card-header card-header-collapse" id="headingSix" data-toggle="collapse"
                  data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  <div class="row">
                    <div class="col-9">
                      <p class="text-left">Briefcases</p>
                    </div>
                    <div class="col-3 text-right">
                      <i class="fa fa-angle-down" style="font-size:1.5rem;color:#2888C7"></i>
                    </div>
                  </div>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                  <div class="card-body">

                    <app-briefcase-edit></app-briefcase-edit>

                  </div>
                </div>
              </div>
              <div class="card" id="section-card">
                <div class="card-header card-header-collapse" id="headingSeven" data-toggle="collapse"
                  data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  <div class="row">
                    <div class="col-9">
                      <p class="text-left">Resume</p>
                    </div>
                    <div class="col-3 text-right">
                      <i class="fa fa-angle-down" style="font-size:1.5rem;color:#2888C7"></i>
                    </div>
                  </div>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group mx-auto">
                          <textarea class="form-control" id="commentsInputText" style="height: 10rem;"
                            formControlName="comments"
                            placeholder="Enter some comments about your skills and previous jobs to enrich your profile..."></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card text-right">
            <div class="card-footer accordion-footer rounded-0">
              <button type="button" class="col-2 btn btn-edit rounded-0" style="background-color: #2888C7;"
                data-toggle="tooltip" data-placement="top" title="Edit" (click)="saveProfile()">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 1.5rem;" viewBox="0 0 283.11 280.36">
                  <defs>
                    <style>
                      .cls-1 {
                        fill: #FFFFFF;
                      }
                    </style>
                  </defs>
                  <title>user-edit</title>
                  <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                      <rect class="cls-1" x="110.66" y="66.99" width="143.81" height="68.78"
                        transform="translate(-18.22 158.77) rotate(-45)" />
                      <path class="cls-1"
                        d="M275.65,22.05,260.05,6.46a22,22,0,0,0-31.18,0L217.93,17.39,266.56,66,277.5,55.08C286.11,46.48,284.26,30.66,275.65,22.05Z" />
                      <polygon class="cls-1" points="100.04 137.99 100.04 186.57 145.34 186.57 100.04 137.99" />
                      <path class="cls-1"
                        d="M181.32,249.1H31.26V99h78.5L141,67.78H21.88C11.52,67.78,0,73.05,0,83.41V258.47c0,10.36,11.52,21.89,21.88,21.89H197c10.35,0,15.63-11.53,15.63-21.89V146.53L181.32,177.8Z" />
                    </g>
                  </g>
                </svg>
                <label style="color: white; font-size: 1rem;">EDIT</label>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade rounded-0" id="closeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered rounded-0" role="document">
    <div class="modal-content rounded-0 border-0">
      <div class="modal-header rounded-0" style="background-color: #2888C7; color: white;">
        <h5 class="modal-title" id="exampleModalCenterTitle">Close</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body rounded-0">
        If you close, you can lose any change you have made to your profile.
      </div>
      <div class="modal-footer rounded-0">
        <button type="button" class="btn btn-secondary btn-edit rounded-0" data-dismiss="modal">Continue
          editing</button>
        <button type="button" class="btn btn-primary btn-edit rounded-0" data-dismiss="modal"
          style="background-color: #2888C7;" (click)="onClose()">Exit</button>
      </div>
    </div>
  </div>
</div>
