form {
  height: 8rem;
}

.row{  
  text-align: center;
}

.col-3{
  height: 30rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  padding-right: 1rem;
  border-bottom-width: 1.5rem;
  background-color:white;
  box-shadow: 10px 10px 12px 0.5rem rgba(0,0,0,0.5);
}

.bs-stepper-circle{
  font-size: 0.5rem;
  color: #6c757d;
  transition:0.3s;
  font-weight: 0;
}

.active .bs-stepper-circle{
  background-color: #2985c4;
  color: white;
  font-size: 1.2rem;
}

.step-trigger:hover {
  text-decoration: none;
  background-color:transparent;
}

.active .bs-stepper-label{
  color:#6c757d;
  font-size: 1rem;
  font-weight: lighter;
  visibility: visible;
}

.step-trigger{
  padding: 0px !important;
  font-size: 50%;
}

.bs-stepper-label{
  visibility: hidden;
}

.bs-stepper-header{
  align-content: space-around;
  height: 4rem;
  margin-top: 0.5rem;
}

.bs-stepper-content {
  padding: 0 2rem 2rem;
  margin-top: 0.2rem;
}

.form-check-input{
  margin-left: 0.5rem;
  margin-top: 2.7rem;
}

.form-check-label{
  margin-bottom: 0.2rem;
  margin-top: 2.3rem;
  margin-left: 1.8rem;
}

.form-control{
  border-radius: 0 !important;
}

.btn-previous, .btn-next{
  background-image: url(../../../assets/icons/SVG/back.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 4.5rem;
  height: 3.5rem;
  background-size: 2.5rem;
  background-color:#bebcbe;
  border: 0rem;
  box-shadow: none;
}

.col{
  margin-left: 2rem;
  margin-top: 1rem;
}

.btn-previous{
  transform: rotate(180deg);
}

.btn-send{
  width: 8.5rem;
  height: 3.5rem;
  background-size: 3rem;
  background-color:#2985c4;
  color: white;
  border: 0rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.svg-add-user{
  width: 8rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

#main-container{
  background-image: url(../../../assets/img/login-01-opacity.png);
  background-size:80%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#btn-row{
  margin-top: 7rem;
}

.add-badge{
  position: absolute;
  left: 11rem;
  bottom: 7rem;
  background:#2985c4;
  text-align: center;
  border-radius: 25px 25px 25px 25px;
  color:white;
  padding: 3px 10px;
  font-size: 1.2rem;
  font-weight: bolder;
}

.form-group{
  width: auto;
  padding-left: 0px;
  padding-right: 0px;
}

#pictureInput{
  visibility: hidden;
  width: 0;
}
.avatar-img{
  height: 4rem;
} 

.image-preview{
  border-radius: 50%;
}

.col-sm-3{
  padding-left: 0;
  padding-right: 0;
}

#col-services{
  margin-top: 3rem;
  margin-left: 3rem;
}

#col-countries{
  margin-top: 4rem;
  margin-left: 0;
}


#col-cv{
  margin-left: 0rem;
  margin-top: 6rem;
}

#myWork{
  width: max-content;
}

.fa-plus{
  color: white;
}

.svg-add-brief{
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  cursor: pointer;
  fill:#2985c4;
}

.preview-bc{
  margin-left: 0rem;
}

#col-bc{
  margin-left: 0rem;
}

#commentsInput{
  width:16rem;
    height: 13rem;
}

#col-8-cv{
  padding-right: 0;
}

#col-4-cv{
  padding-left: 0;
}

#curriculumLabel{
  background-color: #f1f1f1;
  color: #6c757d;
  width: -moz-available;
  padding: 0.75rem;
  text-align: left;
  margin-top: 0;
}

#curriculumInput{
  opacity: 0;
  z-index: -1;
  cursor: pointer;
}

.fa-folder{
  color:white;
  background-color:#2985c4;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

