<div class="container bg-faded py-5" id="create-profile-container">
  <div class="row justify-content-center">
    <div class="col-4" id="stepper-section">
      <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header mx-auto w-30 mb-2" style="height: 80px">
          <div class="step" data-target="#profile">
            <button class="step-trigger">
              <span class="bs-stepper-circle">1</span>
              <span class="bs-stepper-label">Profile</span>
            </button>
          </div>
          <div class="step" data-target="#picture">
            <button class="step-trigger">
              <span class="bs-stepper-circle">2</span>
              <span class="bs-stepper-label">Picture</span>
            </button>
          </div>
          <div class="step" data-target="#countries">
            <button class="step-trigger">
              <span class="bs-stepper-circle">3</span>
              <span class="bs-stepper-label">Countries</span>
            </button>
          </div>
          <div class="step" data-target="#services">
            <button class="step-trigger">
              <span class="bs-stepper-circle">4</span>
              <span class="bs-stepper-label">Services</span>
            </button>
          </div>
          <div class="step" data-target="#curriculum">
            <button class="step-trigger">
              <span class="bs-stepper-circle">5</span>
              <span class="bs-stepper-label">CV</span>
            </button>
          </div>
          <div class="step" data-target="#myWork">
            <button class="step-trigger">
              <span class="bs-stepper-circle">6</span>
              <span class="bs-stepper-label">My Work</span>
            </button>
          </div>
          <div class="step" data-target="#comments">
            <button class="step-trigger">
              <span class="bs-stepper-circle">7</span>
              <span class="bs-stepper-label">Comments</span>
            </button>
          </div>
        </div>
        <div class="bs-stepper-content">
          <div class="row">
            <form [formGroup]="profileForm" style="height: 8rem;">
              <div id="profile" class="content container fade">
                <div class="form-group row py-5 mx-auto">
                  <input type="radio" class="form-check-input" name="accountType" formControlName="accountType"
                    value="PERSONAL">
                  <label for="accountName" class="form-check-label">Personal Account</label>
                  <input type="text" class="form-control" formControlName="accountName" id="accountName"
                    [ngClass]="profileForm.get('accountName').invalid && (profileForm.get('accountName').dirty || profileForm.get('accountName').touched) ? 'is-invalid' : '' "
                    placeholder="Name">
                </div>
                <div class="form-group row mx-auto">
                  <input type="radio" class="form-check-input" name="accountType" formControlName="accountType"
                    value="COMPANY">
                  <label for="exampleInputEmail1" class="form-check-label">Company Account</label>
                  <input type="text" class="form-control" formControlName="companyName" id="exampleInputEmail1"
                    [ngClass]="profileForm.get('companyName').invalid && (profileForm.get('companyName').dirty || profileForm.get('companyName').touched) ? 'is-invalid' : '' "
                    placeholder="Company or Family Name">
                </div>
              </div>
              <div id="picture" class="content container fade">
                <div class="row">
                  <div class="col-12">
                    <label for="pictureInput" class="mx-auto d-block">
                      <input class="mx-auto d-block" id="pictureInput" type="file" formControlName="profilePicture"
                        (change)="uploadPicture($event)" accept="image/*" />
                      <svg *ngIf="!imageLoaded" class="svg-add-user mx-auto d-block" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 230.41 230.41">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: #2985c4;
                            }
                          </style>
                        </defs>
                        <title>user-image</title>
                        <g id="Layer_2" data-name="Layer 2">
                          <g id="Layer_1-2" data-name="Layer 1">
                            <path class="cls-1"
                              d="M230.41,115.21A115.21,115.21,0,1,0,35.27,198a6.94,6.94,0,0,0,1.81,1.65,114.54,114.54,0,0,0,156.25,0,6.94,6.94,0,0,0,1.81-1.65A114.79,114.79,0,0,0,230.41,115.21ZM115.21,14.4a100.67,100.67,0,0,1,79,163.22c-6.25-20.14-24.08-35.91-48.28-43.16a52.55,52.55,0,1,0-61.47,0c-24.2,7.25-42,23-48.27,43.16a100.66,100.66,0,0,1,79-163.22ZM77.06,92a38.15,38.15,0,1,1,38.15,38.08A38.15,38.15,0,0,1,77.06,92ZM48.3,190.4c2.16-26.4,30.16-45.94,66.91-45.94S180,164,182.11,190.4a100.2,100.2,0,0,1-133.81,0Z" />
                          </g>
                        </g>
                      </svg>
                      <img *ngIf="imageLoaded" [src]="previewUrl" class="rounded-circle svg-add-user mx-auto d-block"
                        alt="Profile Picture">
                      <span class="add-badge">+</span>
                    </label>
                    <h6 class="text-center" style="color:#6c757d;">Upload a picture or select an Avatar</h6>
                    <div class="row">
                      <div class="col-3 mx-auto">
                        <img src="../../../assets/img/worker.png" class="avatar-img" alt="Responsive image">
                      </div>
                      <div class="col-3 mx-auto">
                        <img src="../../../assets/img/officer.png" class="avatar-img" alt="Responsive image">
                      </div>
                      <div class="col-3 mx-auto">
                        <img src="../../../assets/img/worker-2.png" class="avatar-img" alt="Responsive image">
                      </div>
                      <div class="col-3 mx-auto">
                        <img src="../../../assets/img/lawyer.png" class="avatar-img" alt="Responsive image">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="countries" class="content container fade">
                <div class="row justify-content-center">
                  <div class="col-12 py-5">
                    <label for="checkInput" style="color: #6c757d;">Choose a country!</label>
                    <div class="form-check">
                      <div class="row justify-content-center">
                        <div class="col">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                          <label class="form-check-label" for="inlineCheckbox1">Canada</label>
                        </div>
                        <div class="col">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1">
                          <label class="form-check-label" for="inlineCheckbox1">Cuba</label>
                        </div>
                        <div class="col">
                          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1">
                          <label class="form-check-label" for="inlineCheckbox1">Spain</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="services" class="content container fade">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <div class="form-group row py-5 mx-auto">
                      <label for="checkInput" style="color: #6c757d;">Select a Service!</label>
                      <input type="text" class="form-control" formControlName="services" id="servicesInput"
                        placeholder="Input services, separated by a comma..." />
                      </div>
                    </div>
                  </div>
                </div>
              <div id="curriculum" class="content">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <div class="form-group row py-5 mx-auto">
                      <label for="curriculumDescription" style="color: #6c757d;">Curriculum Description!</label>
                      <div class="row">
                        <div class="col-9 pr-0">
                          <label for="curriculumLabel" id="curriculumLabel">
                            Upload File
                          </label>
                        </div>
                        <div class="col-3 pl-0">
                          <label for="curriculumUpload" id="curriculumUpload">
                            <i class="far fa-folder fa-3x"></i>
                            <input type="file" accept="pdf/*" formControlName="curriculum" class="form-control-file"
                              id="curriculumInput" placeholder="Upload your CV in pdf format." (change)="uploadCV($event)" />
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="myWork" class="content container fade">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
                        <p class="card-text"><i class="fas fa-plus" alt="Add Briefcase"></i></p>
                      </button>

                      <svg class="svg-add-bc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92.36 88.73">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: #2982c1;
                            }

                            .cls-2 {
                              fill: #fff;
                            }
                          </style>
                        </defs>
                        <title>Recurso 1</title>
                        <g id="Capa_2" data-name="Capa 2">
                          <g id="Capa_1-2" data-name="Capa 1">
                            <circle class="cls-1" cx="80.43" cy="71.74" r="11.93" />
                            <g id="Layer_2" data-name="Layer 2">
                              <g id="Layer_1-2" data-name="Layer 1-2">
                                <path class="cls-1"
                                  d="M70.21,31.22V46.09L48.4,49.49a22.57,22.57,0,0,1,.42-2.72c.25-1,.66-1.85,1-2.77.25-.69,0-1-.68-1.06H39.71c-.73,0-1,.35-.7,1.05.33.93.75,1.83,1,2.77a24.31,24.31,0,0,1,.43,2.74L18.63,46.09V31.22Z" />
                                <path class="cls-1"
                                  d="M20.55,64.14V47.69l19.76,3.08v3c0,.77.22,1,1,1h6.23c.77,0,1-.22,1-1,0-1,0-1.89,0-2.83a.7.7,0,0,1,.06-.19L68.28,47.7V64.14Z" />
                                <path class="cls-1" d="M20.53,67.67V65.53H68.26v2.15Z" />
                                <path class="cls-1"
                                  d="M55.65,29.86H52.7a8.3,8.3,0,0,0-16.54,0H33.21a10.8,10.8,0,0,1,4.56-8.34,10.74,10.74,0,0,1,12.12-.75A11,11,0,0,1,55.65,29.86Z" />
                                <path class="cls-1" d="M47.2,53.46H41.65V48.12H47.2Z" />
                                <path class="cls-1"
                                  d="M44.43,88.73a44.3,44.3,0,1,1,31.42-13A44.43,44.43,0,0,1,44.43,88.73Zm0-82.79A38.36,38.36,0,1,0,82.79,44.3,38.39,38.39,0,0,0,44.43,5.94Z" />
                              </g>
                            </g>
                            <polygon class="cls-2"
                              points="83.94 71.24 80.93 71.24 80.93 68.23 79.94 68.23 79.94 71.24 76.93 71.24 76.93 72.23 79.94 72.23 79.94 75.25 80.93 75.25 80.93 72.23 83.94 72.23 83.94 71.24" />
                          </g>
                        </g>
                      </svg>

                      <h6 class="text-center" style="color:#6c757d;">Add a Briefcase</h6>

                      <app-birefcase-edit></app-birefcase-edit>
                    </div>
                  </div>
                </div>
              </div>


                    <!-- <button type="button" class="btn btn-link" style="background-color: #2985c4;" data-toggle="modal"
                      data-target="#exampleModalCenter">
                    </button>

                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
                      <p class="card-text"><i class="fas fa-plus" alt="Add Briefcase"></i></p>
                    </button> -->


              <div id="comments" class="content">
                <div class="form-group row text-center" id="form-group-comments">
                      <label for="commentsInput" id="commentsInputLabel" >Resume</label>
                      <textarea class="form-control" id="commentsInputText" formControlName="comments"
                        placeholder="Enter some comments about your skills and previous jobs to enrich your profile..."></textarea>
                  </div>
                </div>
            </form>
          </div>
          <div class="row justify-content-between" id="btn-row">
            <button type="button" class="col-3 btn btn-previous mt-5 rounded-0" (click)="previous()"></button>

            <button type="button" class=" col-4 btn btn-primary mt-5 rounded-0 border-0 text-light" style="background-color: #2985c4 ;"
            (click)="createUserProfile()" [disabled]="profileForm.invalid">Send</button>

            <button type="button" class="col-3 btn btn-next mt-5 rounded-0" (click)="next()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
