/*Section Container*/
#create-profile-container{
  background-image: url(../../../assets/img/login-01-opacity.png);
  background-size:80%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#form-group-container{
  width: 8rem;
}

/*Section Stepper*/
#stepper-section{
  padding-left: 1rem;
  padding-top: 1.5rem;
  padding-right: 1rem;
  border-bottom-width: 1.5rem;
  background-color:white;
  box-shadow: 10px 10px 12px 0.5rem rgba(0,0,0,0.5);
}

/*Section Header Stepper*/
.step-trigger{
  padding: 0px !important;
  font-size: 50%;
}

.bs-stepper-label{
  visibility: hidden;
}

.bs-stepper-circle{
  font-size: 0.5rem;
  color: #6c757d;
  transition:0.3s;
  font-weight: 0;
}

.active .bs-stepper-circle{
  background-color: #2985c4;
  color: white;
  font-size: 1.2rem;
}

.step-trigger:hover {
  text-decoration: none;
  background-color:transparent;
}

.active .bs-stepper-label{
  color:#6c757d;
  font-size: 1rem;
  font-weight: lighter;
  visibility: visible;
}

/*Section Stepper Content*/
.bs-stepper-content {
  padding: 0 2rem 2rem;
}

/*Section Profile*/
.form-group{
  padding-left: 0px;
  padding-right: 0px;
}
.form-control{
  border-radius: 0 !important;
}

/*Section Picture*/
#pictureInput{
  visibility: hidden;
  width: 0;
}

.svg-add-user{
  width: 8rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.add-badge{
  position: absolute;
  left: 12rem;
  bottom: 6.3rem;
  background:#2985c4;
  border-radius: 25px 25px 25px 25px;
  color:white;
  font-size: 1.3rem;
  padding: 3px 10px;
  font-weight: bolder;
  cursor: pointer;
}

.avatar-img{
  height: 4rem;
  cursor: pointer;
}

/*Section Country*/

/*Section Service*/

/*Section CurriculumVitae*/
#curriculumInput{
  opacity: 0;
  z-index: -1;
  cursor: pointer;
}

.fa-folder{
  color:white;
  background-color:#2985c4;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#curriculumLabel{
  background-color: #f1f1f1;
  color: #6c757d;
  width: -moz-available;
  padding: 0.75rem;
  text-align: left;
  margin-top: 0;
}

/*Section BriefCase*/

/*Section Resume*/
#commentsInput{
  width:100%;
  height: auto;
}

/*Section SteppersButtons*/
#btn-row{
  margin-top: 7rem;
}

.btn-previous, .btn-next{
  width: 4.5rem;
  height: 3.5rem;
  background-size: 2.5rem;  
  box-shadow: none;
}

.svg-arrow-left{
  transform: rotate(180deg);
}

.svg-arrow-left:disabled, .svg-arrow-right:disabled{
  fill:#9B9B9B;
  width: 70%;
}

.svg-arrow-left, .svg-arrow-right{
  fill:#2888C7;
  width: 70%;
}

.svg-arrow-left:hover, .svg-arrow-right:hover{
  fill:#2880A9;
  width: 70%;
}














