<div class="container-fluid " id="main-container">

  <div class="row justify-content-center">
    <div class="col-3">

      <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header">

          <div class="step" data-target="#profile">
            <button class="step-trigger">
              <span class="bs-stepper-circle">1</span>
              <span class="bs-stepper-label">Profile</span>
            </button>
          </div>

          <div class="step" data-target="#picture">
            <button class="step-trigger">
              <span class="bs-stepper-circle">2</span>
              <span class="bs-stepper-label">Picture</span>
            </button>
          </div>

          <div class="step" data-target="#countries">
            <button class="step-trigger">
              <span class="bs-stepper-circle">3</span>
              <span class="bs-stepper-label">Countries</span>
            </button>
          </div>

          <div class="step" data-target="#services">
            <button class="step-trigger">
              <span class="bs-stepper-circle">4</span>
              <span class="bs-stepper-label">Services</span>
            </button>
          </div>

          <div class="step" data-target="#curriculum">
            <button class="step-trigger">
              <span class="bs-stepper-circle">5</span>
              <span class="bs-stepper-label">CV</span>
            </button>
          </div>

          <div class="step" data-target="#myWork">
            <button class="step-trigger">
              <span class="bs-stepper-circle">6</span>
              <span class="bs-stepper-label">My Work</span>
            </button>
          </div>

          <div class="step" data-target="#comments">
            <button class="step-trigger">
              <span class="bs-stepper-circle">7</span>
              <span class="bs-stepper-label">Comments</span>
            </button>
          </div>
        </div>

        <div class="bs-stepper-content align-items-end">
          <div class="row">
            <form [formGroup]="profileForm">
              <div id="profile" class="content container fade">
                <div class="form-group row">
                  <input type="radio" class="form-check-input" name="accountType" formControlName="accountType"
                    value="PERSONAL">
                  <label for="accountName" class="form-check-label">Personal Account</label>
                  <input type="text" class="form-control" formControlName="accountName" id="accountName"
                  [ngClass]="profileForm.get('accountName').invalid && (profileForm.get('accountName').dirty || profileForm.get('accountName').touched) ? 'is-invalid' : '' "
                    placeholder="Name">
                </div>
                <div class="form-group row">
                  <input type="radio" class="form-check-input" name="accountType" formControlName="accountType"
                    value="COMPANY">
                  <label for="exampleInputEmail1" class="form-check-label">Company Account</label>
                  <input type="text" class="form-control" formControlName="companyName" id="exampleInputEmail1"
                  [ngClass]="profileForm.get('companyName').invalid && (profileForm.get('companyName').dirty || profileForm.get('companyName').touched) ? 'is-invalid' : '' "
                    placeholder="Company or Family Name">
                </div>
              </div>

              <div id="picture" class="content">
                <div class="form-group container row">
                  <div class="col align-items-center">
                    <div class="preview">

                      <label for="pictureInput">
                        <input id="pictureInput" type="file" formControlName="profilePicture"
                          (change)="uploadPicture($event)" accept="image/*" />
                        <svg *ngIf="!imageLoaded" class="svg-add-user" xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 230.41 230.41">
                          <defs>
                            <style>
                              .cls-1 {
                                fill: #2985c4;
                              }
                            </style>
                          </defs>
                          <title>user-image</title>
                          <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                              <path class="cls-1"
                                d="M230.41,115.21A115.21,115.21,0,1,0,35.27,198a6.94,6.94,0,0,0,1.81,1.65,114.54,114.54,0,0,0,156.25,0,6.94,6.94,0,0,0,1.81-1.65A114.79,114.79,0,0,0,230.41,115.21ZM115.21,14.4a100.67,100.67,0,0,1,79,163.22c-6.25-20.14-24.08-35.91-48.28-43.16a52.55,52.55,0,1,0-61.47,0c-24.2,7.25-42,23-48.27,43.16a100.66,100.66,0,0,1,79-163.22ZM77.06,92a38.15,38.15,0,1,1,38.15,38.08A38.15,38.15,0,0,1,77.06,92ZM48.3,190.4c2.16-26.4,30.16-45.94,66.91-45.94S180,164,182.11,190.4a100.2,100.2,0,0,1-133.81,0Z" />
                            </g>
                          </g>
                        </svg>
                        <img *ngIf="imageLoaded" [src]="previewUrl" class="rounded-circle svg-add-user"
                          alt="Profile Picture">
                        <span class="add-badge">+</span>
                      </label>
                    </div>
                    <label style="color:#6c757d;">Upload a picture or select an Avatar</label>
                    <div class="row">
                      <div class="col-sm-3">
                        <img src="../../../assets/img/defaultProfile.png" class="avatar-img" alt="Responsive image">
                      </div>
                      <div class="col-sm-3">
                        <img src="../../../assets/img/defaultProfile.png" class="avatar-img" alt="Responsive image">
                      </div>
                      <div class="col-sm-3">
                        <img src="../../../assets/img/defaultProfile.png" class="avatar-img" alt="Responsive image">
                      </div>
                      <div class="col-sm-3">
                        <img src="../../../assets/img/defaultProfile.png" class="avatar-img" alt="Responsive image">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="countries" class="content">
                <div class="col" id="col-countries">
                  <div class="form-group">
                    <label for="checkInput" style="color: #6c757d;">Choose a country!</label>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1">Canada</label>
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1">Cuba</label>
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1">España</label>
                    </div>
                  </div>
                </div>
              </div>
              <div id="services" class="content">
                <div class="row">
                  <div class="col" id="col-services">
                    <div class="form-group">
                      <label for="checkInput" style="color: #6c757d;">Select a Service!</label>
                      <input type="text" class="form-control" formControlName="services" id="servicesInput"
                        placeholder="Input your services, separated by a comma..." />
                    </div>
                  </div>
                </div>
              </div>
              <div id="curriculum" class="content">
                <div class="row">
                  <div class="col" id="col-cv">
                    <div class="form-group">
                      <label for="curriculumInput">Curriculum Vitae</label>
                      <input type="file" accept="pdf/*" formControlName="curriculum" class="form-control-file"
                        id="curriculumInput" placeholder="Upload your CV in pdf format." (change)="uploadCV($event)" />
                    </div>
                  </div>
                  <figure class="figure col mb-3" *ngIf="previewUrl && previewUrl !== ''">
                    <img [src]="previewUrl" class="figure-img img-fluid h100" />
                  </figure>
                </div>
              </div>

              <div id="myWork" class="content">
                <div class="row">
                  <div class="col align-items-center" id="col-bc">
                    <div class="preview-bc">

                      <svg class="svg-add-brief" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.53 511.53">
                        <title>Asset 20</title>
                        <g id="Layer_2" data-name="Layer 2">
                          <g id="Layer_1-2" data-name="Layer 1">
                            <path
                              d="M404.13,180.49v85.59L278.59,285.67c.83-5.72,1.11-10.85,2.41-15.7,1.44-5.43,3.83-10.61,5.76-15.92,1.46-4,.24-6.07-3.9-6.09q-27.17-.12-54.31,0c-4.19,0-5.43,2-4,6.05,1.91,5.31,4.31,10.49,5.77,15.91,1.3,4.86,1.6,10,2.45,15.76L107.22,266.08V180.49Z" />
                            <path
                              d="M118.3,370v-94.7l113.75,17.74c0,6,0,11.64,0,17.29,0,4.44,1.26,5.72,5.7,5.73q17.93.06,35.84,0c4.42,0,5.68-1.31,5.7-5.74,0-5.42,0-10.84.05-16.26a4.89,4.89,0,0,1,.37-1.08L393,275.32V370Z" />
                            <path d="M118.17,390.32V378H392.93v12.36Z" />
                            <path
                              d="M320.31,172.63H303.36c-4.21-30.94-29.07-44.42-48.84-43.62-24.51,1-42.88,18-46.35,43.54h-17c1.52-20.05,10-36.38,26.25-48,22.14-15.81,45.9-17.42,69.78-4.32C307.5,131.4,318,149.34,320.31,172.63Z" />
                            <path d="M271.71,308.52H239.77V277.78h31.94Z" />
                            <path
                              d="M255.76,511.53A255.77,255.77,0,0,1,74.91,74.91,255.77,255.77,0,0,1,436.62,436.62,254.09,254.09,0,0,1,255.76,511.53Zm0-476.53C134,35,35,134,35,255.77s99,220.76,220.76,220.76,220.77-99,220.77-220.76S377.5,35,255.76,35Z" />
                          </g>
                        </g>
                      </svg>
                      <button type="button" class="btn btn-link rounded-circle" style="background-color: #2985c4;"
                        data-toggle="modal" data-target="#exampleModalCenter">
                        <p class="card-text"><i class="fas fa-plus" alt="Add Briefcase"></i></p>
                      </button>

                      <div class="form-group">
                        <label for="addBriefcase-btn" style="color: #6c757d;">Add a Briefcase!</label>
                      </div>
                    </div>
                  </div>

                </div>

                <app-birefcase-edit></app-birefcase-edit>
              </div>


              <div id="comments" class="content">
                <div class="row">
                  <div class="col" id="col-comments">
                    <div class="form-group">
                      <label for="commentsInput">Resume</label>
                      <textarea class="form-control" id="commentsInput" formControlName="comments"
                        placeholder="Enter some comments about your skills and previous jobs to enrich your profile..."></textarea>
                    </div>
                  </div>
                </div>

              </div>
            </form>
          </div>
          <div class="row justify-content-between" id="btn-row">
            <button type="button" class="col-2 btn btn-previous mt-5 rounded-0" (click)="previous()"></button>

            <button type="button" class=" col-6 btn btn-primary mt-5 rounded-0 border-0 text-light" style="background-color: #2985c4 ;"
            (click)="createUserProfile()" [disabled]="profileForm.invalid">Send</button>

            <button type="button" class="col-2 btn btn-next mt-5 rounded-0" (click)="next()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
