<div  class="container bg-faded py-5" id="create-profile-container">
  <div class="row justify-content-center">
    <div class="col-4" id="stepper-section">
      <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header mx-auto w-30 mb-2" style="height: 80px">
          <div class="step" data-target="#profile">
            <button class="step-trigger">
              <span class="bs-stepper-circle">1</span>
              <span class="bs-stepper-label">Profile</span>
            </button>
          </div>
          <div class="step" data-target="#picture">
            <button class="step-trigger">
              <span class="bs-stepper-circle">2</span>
              <span class="bs-stepper-label">Picture</span>
            </button>
          </div>
          <div [hidden]="role==='CLIENT'" class="step" data-target="#countries">
            <button class="step-trigger">
              <span class="bs-stepper-circle">3</span>
              <span class="bs-stepper-label">Countries</span>
            </button>
          </div>
          <div [hidden]="role==='CLIENT'" class="step" data-target="#services">
            <button class="step-trigger">
              <span class="bs-stepper-circle">4</span>
              <span class="bs-stepper-label">Services</span>
            </button>
          </div>
          <div [hidden]="role==='CLIENT'" class="step" data-target="#curriculum">
            <button class="step-trigger">
              <span class="bs-stepper-circle">5</span>
              <span class="bs-stepper-label">CV</span>
            </button>
          </div>
          <div [hidden]="role==='CLIENT'" class="step" data-target="#myWork">
            <button class="step-trigger">
              <span class="bs-stepper-circle">6</span>
              <span class="bs-stepper-label">My Work</span>
            </button>
          </div>
          <div [hidden]="role==='CLIENT'" class="step" data-target="#comments">
            <button class="step-trigger">
              <span class="bs-stepper-circle">7</span>
              <span class="bs-stepper-label">Comments</span>
            </button>
          </div>
        </div>
        <div class="bs-stepper-content">
          <div class="row">
            <form [formGroup]="profileForm" style="width: -moz-available; height: 8rem;">
              <div id="profile" class="content container fade">
                <div class="form-group row py-5 mx-auto">
                  <input type="radio" class="form-check-input" name="accountType" formControlName="accountType"
                    value="PERSONAL">
                  <label for="accountName" class="form-check-label">Personal Account</label>
                  <input type="text" class="form-control" formControlName="accountName" id="accountName"
                    [ngClass]="profileForm.get('accountName').invalid && (profileForm.get('accountName').dirty || profileForm.get('accountName').touched) ? 'is-invalid' : '' "
                    placeholder="Name">
                </div>
                <div class="form-group row mx-auto">
                  <input type="radio" class="form-check-input" name="accountType" formControlName="accountType"
                    value="COMPANY">
                  <label for="exampleInputEmail1" class="form-check-label">Company Account</label>
                  <input type="text" class="form-control" formControlName="companyName" id="exampleInputEmail1"
                    [ngClass]="profileForm.get('companyName').invalid && (profileForm.get('companyName').dirty || profileForm.get('companyName').touched) ? 'is-invalid' : '' "
                    placeholder="Company or Family Name">
                </div>
              </div>
              <div id="picture" class="content container fade">
                <div class="row">
                  <div class="col-12">
                    <label for="pictureInput" class="mx-auto d-block">
                      <input class="mx-auto d-block" id="pictureInput" type="file" formControlName="profilePicture"
                        (change)="uploadPicture($event)" accept="image/*" />
                      <svg *ngIf="!imageLoaded" class="svg-add-user mx-auto d-block" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 230.41 230.41">
                        <defs>
                          <style>
                            .cls-1 {
                              fill: #2985c4;
                            }
                          </style>
                        </defs>
                        <title>user-image</title>
                        <g id="Layer_2" data-name="Layer 2">
                          <g id="Layer_1-2" data-name="Layer 1">
                            <path class="cls-1"
                              d="M230.41,115.21A115.21,115.21,0,1,0,35.27,198a6.94,6.94,0,0,0,1.81,1.65,114.54,114.54,0,0,0,156.25,0,6.94,6.94,0,0,0,1.81-1.65A114.79,114.79,0,0,0,230.41,115.21ZM115.21,14.4a100.67,100.67,0,0,1,79,163.22c-6.25-20.14-24.08-35.91-48.28-43.16a52.55,52.55,0,1,0-61.47,0c-24.2,7.25-42,23-48.27,43.16a100.66,100.66,0,0,1,79-163.22ZM77.06,92a38.15,38.15,0,1,1,38.15,38.08A38.15,38.15,0,0,1,77.06,92ZM48.3,190.4c2.16-26.4,30.16-45.94,66.91-45.94S180,164,182.11,190.4a100.2,100.2,0,0,1-133.81,0Z" />
                          </g>
                        </g>
                      </svg>
                      <img *ngIf="imageLoaded" [src]="previewUrl" class="rounded-circle svg-add-user mx-auto d-block"
                        alt="Profile Picture">
                      <span class="add-badge">+</span>
                    </label>
                    <h6 class="text-center" style="color: #6c757d;">Upload a picture or select an Avatar</h6>
                    <div class="row">
                      <div class="col-3 mx-auto">
                        <img src="../../../assets/img/worker.png" class="avatar-img" alt="Responsive image"
                          (click)="uploadAvatar($event)">
                      </div>
                      <div class="col-3 mx-auto">
                        <img src="../../../assets/img/officer.png" class="avatar-img" alt="Responsive image"
                          (click)="uploadAvatar($event)">
                      </div>
                      <div class="col-3 mx-auto">
                        <img src="../../../assets/img/worker-2.png" class="avatar-img" alt="Responsive image"
                          (click)="uploadAvatar($event)">
                      </div>
                      <div class="col-3 mx-auto">
                        <img src="../../../assets/img/lawyer.png" class="avatar-img" alt="Responsive image"
                          (click)="uploadAvatar($event)">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="countries" class="content container fade">
                <div class="row justify-content-center">
                  <div class="col-12 py-5">
                    <div class="row justify-content-center">
                      <div class="col " *ngFor="let country of (countries$ | async)">
                        <div class="dropdown">
                          <button class="btn btn-primary mt-5 rounded-0 border-0 text-light " type="button" id="countryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{country.nameEn}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="countryDropdown">
                            <button *ngFor="let division of country.divisions" class="dropdown-item" type="button"
                            (click)="selectDivision(division)">
                            {{division.nameEs}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      {{divisions}}
                    </div>
                  </div>
                </div>
              </div>
              <div id="services" class="content container fade">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <div class="form-group row py-5 mx-auto">
                      <label for="checkInput" style="color: #6c757d;">Select a Service!</label>
                      <input type="text" class="form-control" formControlName="services" id="servicesInput"
                        placeholder="Input services, separated by a comma..." />
                    </div>
                  </div>
                </div>
              </div>
              <div id="curriculum" class="content">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <div class="form-group row py-5 mx-auto">
                      <label for="curriculumDescription" style="color: #6c757d;">Curriculum Description!</label>
                      <div class="row">
                        <div class="col-9 pr-0">
                          <label for="curriculumLabel" id="curriculumLabel">
                            Upload File
                          </label>
                        </div>
                        <div class="col-3 pl-0">
                          <label for="curriculumUpload" id="curriculumUpload">
                            <i class="far fa-folder fa-3x"></i>
                            <input type="file" accept="pdf/*" formControlName="curriculum" class="form-control-file"
                              id="curriculumInput" placeholder="Upload your CV in pdf format."
                              (change)="uploadCV($event)" />
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="myWork" class="content container fade">
                <app-briefcase-edit></app-briefcase-edit>
              </div>
              <div id="comments" class="content container fade">
                <div class="form-group row text-center" id="form-group-comments">
                  <div class="form-group row py-5 mx-auto">
                    <label for="commentsInput" style="color: #6c757d;">Resume!</label>
                    <textarea class="form-control" id="commentsInputText" formControlName="comments"
                      placeholder="Enter some comments about your skills and previous jobs to enrich your profile..."></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row justify-content-between" id="btn-row">
            <button type="button" class="col-3 btn btn-previous mt-5 rounded-0" (click)="previous()"></button>
            <button type="button" class=" col-4 btn btn-primary mt-5 rounded-0 border-0 text-light"
              style="background-color: #2985c4 ;" (click)="createUserProfile()"
              [disabled]="profileForm.invalid">Send</button>
            <button type="button" class="col-3 btn btn-next mt-5 rounded-0" (click)="next()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
