/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css'; */
@import "../node_modules/bs-stepper/dist/css/bs-stepper.min.css";
@import "../node_modules/@ng-select/ng-select/themes/material.theme.css";
@import "./assets/icons/iconfont/style.css";
@import "./assets/icons/icomoon/style.css";
@import "./custom-ng-select.css";


/* <<<<<<<<<<<<<<<<<<<<<<<<<< */
.ng-clear-wrapper {
  display: none;
}

.ng-clear {
  display: none;
}

.img {
  max-width: 100%;
}

.btn-previous:hover:enabled,
.btn-next:hover:enabled {
  background-color: #bfbdbe;
  fill: #2880a9;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.btn-previous:hover:disabled,
.btn-next:hover:disabled {
  background-color: #dfdfdf;
  fill: #9b9b9b;
  cursor: not-allowed;
}

.btn-previous:active:enabled,
.btn-next:active:enabled {
  background-color: #bfbdbe;
  fill: #2880a9;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
}

.btn-send:hover:enabled {
  background-color: #2688c6;
  color: #d6d6d6;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.btn-send:hover:disabled {
  background-color: #94c4e3;
  cursor: not-allowed;
}

.btn-send:active:enabled {
  background-color: #2688c6;
  color: #d6d6d6;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
}

.btn-edit:hover:enabled {
  background-color: #2688c6;
  color: #d6d6d6;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.btn-edit:hover:disabled {
  background-color: #94c4e3;
  cursor: not-allowed;
}

.btn-edit:active:enabled {
  background-color: #2688c6;
  color: #d6d6d6;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
}

/* Firefox columnBarStyle */
.scroll-host,
.fontawesome-i2svg-active,
.modal,
body {
  scrollbar-color: #2888c7 #bebcbe;
  scrollbar-width: thin;
}

.modal::-webkit-scrollbar,
body::-webkit-scrollbar,
.scroll-host::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.modal::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.scroll-host::-webkit-scrollbar-track {
  background-color: #bebcbe;
  border-radius: 0;
}

.modal::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.scroll-host::-webkit-scrollbar-thumb {
  background-color: #2888c7;
  border-radius: 0;
}
