<div class="container  align-items-center">
  <div class="row justify-content-center mx-0 my-5">
    <div class="col-sm-8 col-md-6 col-lg-4" disabled="loading">
      <div class="row mb-3">
        <img class="img img-fluid col-12" src="assets/logo/SVG/color.svg">
      </div>

      <form [formGroup]="passwordForm" (ngSubmit)="submit()">
        <div class="row form-group mb-1">
          <fieldset class="col-12 mx-0 px-0">
            <div class="my-2 form-label-group">
              <input
                [ngClass]="passwordForm.get('password').invalid && (passwordForm.get('password').dirty || passwordForm.get('password').touched) ? 'is-invalid' : '' "
                class="form-control input-lg" name="password" formControlName="password" type="password"
                placeholder="Current password" style="border-radius: 0;" id="password" required autofocus autocomplete="off">
              <label style="font-weight: 100;" for="password">Current password</label>

              <div class="invalid-feedback">
                <p *ngIf="passwordForm.get('password').hasError('required')">
                  You must enter a password!
                </p>
                <p *ngIf="passwordForm.get('password').hasError('minlength')">
                  You password should have at least 5 characters!
                </p>
              </div>
            </div>
            <div class="my-2 form-label-group">
              <input
                [ngClass]="passwordForm.hasError('samePassword') || passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched) ? 'is-invalid' : '' "
                class="form-control input-lg" name="newPassword" formControlName="newPassword" type="password"
                placeholder="New Password" style="border-radius: 0;" id="newPassword" required autofocus autocomplete="off">
                <label style="font-weight: 100;" for="newPassword">New Password</label>

              <div class="invalid-feedback">
                <p *ngIf="passwordForm.get('newPassword').hasError('required')">
                  You must enter a password!
                </p>
                <p *ngIf="passwordForm.hasError('samePassword')">
                  You must type a new password!
                </p>
                <p *ngIf="passwordForm.get('newPassword').hasError('minlength')">
                  You password should have at least 5 characters!
                </p>
              </div>
            </div>
            <div class="my-2 form-label-group">
              <input
                [ngClass]="passwordForm.hasError('passwordsMissmatch') || passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('newPassword').touched) ? 'is-invalid' : '' "
                class="form-control input-lg" name="confirmPassword" formControlName="confirmPassword" type="password"
                placeholder="Confirm new Password" style="border-radius: 0;" id="confirmPassword" required autofocus autocomplete="off">
                <label style="font-weight: 100;" for="confirmPassword">Confirm new Password</label>

              <div class="invalid-feedback">
                <p *ngIf="passwordForm.get('confirmPassword').hasError('required')">
                  You must confirm your password!
                </p>
                <p
                  *ngIf="!(passwordForm.get('confirmPassword').hasError('required')) && passwordForm.hasError('passwordsMissmatch')">
                  Your passwords must be equals!
                </p>
              </div>
            </div>

          </fieldset>
        </div>
        <div class="row mt-1">
          <button class="btn btn-primary btn-block text-center btn-lg" [disabled]="passwordForm.invalid"
            style="background-color: #2787C4; border-radius: 0rem;">Change Password</button>
        </div>


      </form>



    </div>

  </div>
</div>
