<!-- <nav class="navbar row container-fluid justify-content-around">
  <div class="col-2 navbar-brand">
    <img class="img img-fluid" src="../../assets/logo/SVG/color.svg">
  </div>
  <div class="col-8 ">
    <div class="row justify-content-end">
      <button class="btn btn-link mx-2" routerLink='/auth/login' routerLinkActive="active">
        <i class="far fa-user"></i>
        Login
      </button>
      <button class="btn btn-link mx-2" routerLink='/auth/register' routerLinkActive="active">
        <i class="fas fa-user-plus"></i>
        Register
      </button>
      <button class="btn btn-link mx-2" routerLink='/user/{{userId}}' routerLinkActive="active">Dashboard</button>
    </div>
  </div>
</nav> -->

<app-role-select></app-role-select>
