.navbar-brand.img {
  height: fit-content;
}

/* .fiability-container{
  background-color: #f1f1f1;
} */

.statics-container{
  background-color: #2787c4;
  padding-bottom: 1rem;
}

.joinus-container{
  background-color: #2787c4;
  padding-bottom: 2rem;
}



