app-role-select {
  z-index: -1;
}

.navbar-brand.img {
  height: fit-content;
}

.statics-container{
  background-color: #2787c4;
  padding-bottom: 1rem;
}

.joinus-container{
  background-color: #2787c4;
  padding-bottom: 2rem;
}



