<div class="container-fluid py-5" id="contactus-section" style="background-color: #f1f1f1;">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <p class="tittle-section" i18n="contact header|contact header tittle@@contact header">
                    Contact us
                </p>
            </div>        
        </div>
        <div class="row">
            <div class="col-md-7 pl-5">
                <p class="tittle2-section" i18n="contact text|contact text message@@contact text">
                    Leave your message
                </p>
                <form>
                    <div class="form-group">
                      <label for="email" i18n="contact email|contact email name@@contact email">Email Address</label>
                      <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" i18n="contact message|contact message text@@contact message">Message</label>
                        <textarea class="form-control" id="input-textarea" rows="3"></textarea>
                      </div>
                    <button type="submit" class="btn btn-lg  col-4 rounded-0 btn-contactus" i18n="contact btn-send|contact btn-send text@@contact btn-send">Send</button>
                  </form>
            </div>
            <div class="col-md-5 pl-5">
                <p class="tittle2-section" i18n="contact information-header|contact information-header tittle@@contact information-header">
                    Contact Information
                </p>
                <div class="row">
                <div class="col-1">
                    <div class="icons-section">
                        <i class="fas fa-mobile-alt fa-2x" style="color: #2787c4;"></i>
                    </div>
                </div>
                <div class="col">
                    <p class="icons-text" style="margin-left: 1rem;">
                        #Phone number
                    </p>
                </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <div class="icons-section">
                            <i class="fas fa-envelope fa-2x" style="color: #2787c4;"></i>
                        </div> 
                    </div>
                    <div class="col">
                        <p class="icons-text" style="margin-left: 1rem;">
                            #mail@mail.com
                        </p>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-1">
                        <div class="icons-section">
                            <i class="fas fa-map-marker-alt fa-2x" style="color: #2787c4;"></i>
                        </div>
                    </div>
                    <div class="col">
                        <p class="icons-text" style="margin-left: 1rem;">
                            #Address 
                        </p>
                    </div>
                </div>                             
                <p class="tittle2-section" i18n="contact followus-header|contact followus-header tittle@@contact followus-header">
                    Follow us
                </p>
                <div class="socials">
                    <i class="fab fa-facebook-square fa-2x" style="color: #2787c4;"></i>
                    <i class="fab fa-twitter-square fa-2x" style="color: #2787c4;"></i>
                    <i class="fab fa-linkedin fa-2x" style="color: #2787c4;"></i>
                </div>
            </div>
        </div>
    </div>    
</div>
